@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap/dist/css/bootstrap-grid.css';
@import '~bootstrap/dist/css/bootstrap-reboot.css';

@import '~@fortawesome/fontawesome-svg-core/styles.css';

.table-noheader > tbody > tr:first-child > td {
    border: none;
}

.card-minheight {
    min-height: 485px;
}

.gradients-max-width {
    max-width: 180px;
}
