$primary: #1565C0 !default;
$secondary: #0277BD !default;
$success: #2E7D32 !default;

@import "@fortawesome/fontawesome-svg-core/styles.css";
@import "mdb-angular-ui-kit/assets/scss/mdb.scss";

.table-noheader > tbody > tr:first-child > td {
    border: none;
}

.card-minheight {
    min-height: 485px;
}

input.form-control, mdb-form-control {
    max-width: 200px;
}

