<div class="card">
  <div class="card-header ">
      <fa-icon [icon]="bottleIcon" rotate="270" class="mr-3"></fa-icon>
      <span *ngIf="!isTechnical">Bottom gas tank</span>
      <span *ngIf="isTechnical">Gas tanks</span>
  </div>
  <div class="card-body" *ngIf="isTechnical">
    <table class="table table-noheader">
      <tr>
        <th>Size [L]</th>
        <th>Pressure [bar]</th>
        <th>Percent O2</th>
        <th><button class="btn btn-sm m-0 p-0" (click)="addGas()"><fa-icon [icon]="plusIcon"></fa-icon></button></th>
      </tr>
      <tr *ngFor="let gas of gases">
        <td>
          <input #size="ngModel" name="size" [(ngModel)]="gas.size" class="form-control" type="number" min="1" max="50"
            [range]="[1, 50]" required [class.is-invalid]="size.invalid && (size.dirty || size.touched)" />
          <small class="form-text text-muted">SAC: {{gasSac(gas) | number:'1.0-2'}} bar/min.</small>
          <div class="text-danger" *ngIf="size.invalid && (size.dirty || size.touched)">Needs to be number 1-50 L</div>
        </td>
        <td>
          <input #startPressure="ngModel" name="startPressure" [(ngModel)]="gas.startPressure" class="form-control" type="number"
            min="30" max="350" [range]="[30, 350]" required
            [class.is-invalid]="startPressure.invalid && (startPressure.dirty || startPressure.touched)"/>
            <div class="text-danger" *ngIf="startPressure.invalid && (startPressure.dirty || startPressure.touched)">Needs to be number 30-300 bar</div>
        </td>
        <td>
          <div class="input-group">
            <input #gasO2="ngModel" name="gasO2" [(ngModel)]="gas.o2" class="form-control" type="number"
             min="21" max="100" [range]="[21, 100]" required
             [class.is-invalid]="gasO2.invalid && (gasO2.dirty || gasO2.touched)"/>
            <div ngbDropdown class="input-group-append d-inline-block" placement="bottom-right">
              <button class="btn btn-default border" id="o2Menu"  type="button" ngbDropdownToggle></button>
              <div ngbDropdownMenu aria-labelledby="o2Menu" aria-expanded="false">
                <button *ngFor="let stgas of this.gasNames" type="button" class="dropdown-item" (click)="gas.assignStandardGas(stgas)">{{stgas}}</button>
              </div>
            </div>
          </div>
          <app-gaslabel [gas]="gas"></app-gaslabel>
          <div class="text-danger" *ngIf="gasO2.invalid && (gasO2.dirty || gasO2.touched)">Needs to be number 21-100%</div>
        </td>
        <td><button *ngIf="planner.firstGas !== gas" class="btn btn-sm m-0 p-0" (click)="removeGas(gas)"><fa-icon [icon]="trashIcon"></fa-icon></button></td>
      </tr>
  </table>
  </div>
  <div class="card-body" *ngIf="!isTechnical">
      <div class="form-group">
        <label for="size">Size [L]:
          <input #size="ngModel" name="size" [(ngModel)]="firstGas.size" class="form-control" type="number"
            min="1" max="50" [range]="[1, 50]" required 
            [class.is-invalid]="size.invalid && (size.dirty || size.touched)"/>
          <small class="form-text text-muted">SAC: {{gasSac(firstGas) | number:'1.0-2'}} bar/min.</small>
          <div class="text-danger" *ngIf="size.invalid && (size.dirty || size.touched)">Needs to be number 1-50 L</div>
        </label>
      </div>
      <div class="form-group">
        <label for="startPressure">Start pressure [bar]:
          <input #startPressure="ngModel" name="startPressure" [(ngModel)]="firstGas.startPressure" class="form-control" type="number"
            min="30" max="350" [range]="[30, 350]" required
            [class.is-invalid]="startPressure.invalid && (startPressure.dirty || startPressure.touched)"/>
            <div class="text-danger" *ngIf="startPressure.invalid && (startPressure.dirty || startPressure.touched)">Needs to be number 30-300 bar</div>
        </label>
      </div>
      <div class="form-group">
        <label for="gasO2">Percent O2:
          <div class="input-group">
            <input #gasO2="ngModel" name="gasO2" [(ngModel)]="o2" class="form-control" type="number"
            min="21" max="100" [range]="[21, 100]" required
            [class.is-invalid]="gasO2.invalid && (gasO2.dirty || gasO2.touched)"/>
            <div ngbDropdown class="input-group-append d-inline-block" placement="bottom-right">
              <button class="btn btn-default border" id="o2Menu"  type="button" ngbDropdownToggle></button>
              <div ngbDropdownMenu aria-labelledby="o2Menu" aria-expanded="false">
                <button type="button" class="dropdown-item" (click)="assignBestMix()">Best mix</button>
                <button *ngFor="let stgas of this.gasNames" type="button" class="dropdown-item" (click)="firstGas.assignStandardGas(stgas)">{{stgas}}</button>
              </div>
            </div>
          </div>
          <app-gaslabel [gas]="firstGas"></app-gaslabel>
        </label>
        <div class="text-danger" *ngIf="gasO2.invalid && (gasO2.dirty || gasO2.touched)">Needs to be number 21-100%</div>
      </div>
  </div>
</div>