<form [formGroup]="gfForm" class="row">
    <div class="mb-4 col col-12 col-sm-6">
        <div *ngIf="showTitle">
            <label for="conservatism" class="form-label">Conservatism (Gradient factors):</label>
        </div>
        <div>
            <div mdbDropdown class="d-flex d-inline-flex dropdown">
                <ng-container *ngIf="simple">
                    <mdb-form-control>
                        <input id="gfLowField" [value]="conservatism" class="form-control" type="text" [readonly]="true"
                            mdbInput />
                    </mdb-form-control>
                </ng-container>
                <ng-container *ngIf="!simple">
                    <mdb-form-control>
                        <input id="gfLowField" class="form-control" type="number" formControlName="gfLow"
                            (input)="gfLowChanged()" required min="10" max="100" step="1"
                            [class.is-invalid]="gfLowInvalid" mdbInput />
                        <label for="gfLowField" class="form-label" mdbLabel>Gradient low [%]:</label>
                    </mdb-form-control>
                </ng-container>
                <button type="button" class="btn btn-default dropdown-toggle dropdown-toggle-split"
                    id="conservatismMenu" mdbDropdownToggle data-mdb-toggle="dropdown" aria-expanded="false"></button>
                <ul class="dropdown-menu dropdown-menu-end" mdbDropdownMenu>
                    <li (click)="lowConservatism()"><a class="dropdown-item">{{standards.lowName}}</a></li>
                    <li (click)="mediumConservatism()"><a class="dropdown-item">{{standards.mediumName}}</a>
                    </li>
                    <li (click)="highConservatism()"><a class="dropdown-item">{{standards.highName}}</a></li>
                </ul>
            </div>
            <div class="text-danger form-text" *ngIf="gfLowInvalid">
                Needs to be number 10 - 100 lower than gradient high</div>
        </div>
    </div>
    <div class="mb-4 col col-12 col-sm-6" *ngIf="!simple">
        <mdb-form-control>
            <input id="gfHighField" formControlName="gfHigh" class="form-control" type="number" required
                (input)="gfHighChanged()" min="10" max="100" step="1" [class.is-invalid]="gfHighInvalid" mdbInput />
            <label for="gfHighField" class="form-label" mdbLabel>Gradient high [%]:</label>
        </mdb-form-control>
        <div class="text-danger form-text" *ngIf="gfHighInvalid">
            Needs to be number 10 - 100 higher than gradient low
        </div>
    </div>
</form>
