<div class="mb-3">
    <label for="conservatism" class="form-label">Conservatism (Gradient factors):</label>
    <div class="input-group gradients-max-width">
        <ng-container *ngIf="simple">
            <input id="conservatism" [(ngModel)]="conservatism" class="form-control" type="text" readonly />
            <div ngbDropdown class="input-group-append d-inline-block" placement="bottom-right">
                <button type="button" class="btn btn-default border" id="conservatismMenu"
                    ngbDropdownToggle></button>
                <div ngbDropdownMenu aria-labelledby="conservatismMenu" aria-expanded="false">
                    <button type="button" class="dropdown-item"
                        (click)="lowConservatism()">{{lowName}}</button>
                    <button type="button" class="dropdown-item"
                        (click)="mediumConservatism()">{{mediumName}}</button>
                    <button type="button" class="dropdown-item"
                        (click)="highConservatism()">{{highName}}</button>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="!simple">
            <input id="gfLowField" name="gfLowField" #gfLowField="ngModel" [(ngModel)]="plannedGfLow"
                class="form-control col-auto" type="number"
                required [rangeVal]="[10, 100]" min="10" max="100" step="1"
                [class.is-invalid]="gfLowField.invalid && (gfLowField.dirty || gfLowField.touched)" />
            <div ngbDropdown class="input-group-append d-inline-block" placement="bottom-right">
                <button type="button" class="btn btn-default border" id="conservatismMenu"
                    ngbDropdownToggle></button>
                <div ngbDropdownMenu aria-labelledby="conservatismMenu" aria-expanded="false">
                    <button type="button" class="dropdown-item"
                        (click)="lowConservatism()">{{lowName}}</button>
                    <button type="button" class="dropdown-item"
                        (click)="mediumConservatism()">{{mediumName}}</button>
                    <button type="button" class="dropdown-item"
                        (click)="highConservatism()">{{highName}}</button>
                </div>
            </div>
            <div class="text-danger form-text" *ngIf="gfLowField.invalid && (gfLowField.dirty || gfLowField.touched)">
                Needs to be number 10 - 100 lower than gradient high</div>
        </ng-container>
    </div>
</div>
<div class="mb-3" *ngIf="!simple">
    <label for="gfHighField" class="form-label">Gradient high [%]:</label>
    <input id="gfHighField" name="gfHighField" #gfHighField="ngModel" [(ngModel)]="plannedGfHigh"
        class="form-control col-auto" type="number" required
        [rangeVal]="[10, 100]" min="10" max="100" step="1"
        [class.is-invalid]="gfHighField.invalid && (gfHighField.dirty || gfHighField.touched)" />
    <div class="text-danger form-text"
        *ngIf="gfHighField.invalid && (gfHighField.dirty || gfHighField.touched)">
        Needs to be number 10 - 100 higher than gradient low
    </div>
</div>
