<div class="mt-5">
  <div class="row">
    <div class="col-lg-3 col-md-6 mt-3">
      <div class="card">
        <div class="card-header">
          <fa-icon [icon]="calcIcon" class="me-3"></fa-icon>
          <span>Respiratory minute volume</span>
        </div>
        <div class="card-body">
          <div class="btn-group" role="group">
            <button type="button" class="btn" [class.btn-primary]="inSac" (click)="toSac()">RMV</button>
            <button type="button" class="btn" [class.btn-primary]="inUsed" (click)="toUsed()">Used</button>
            <button type="button" class="btn" [class.btn-primary]="inDuration" (click)="toDuration()">Duration</button>
          </div>
          <div class="my-2">
            <label for="depth">Average depth [{{units.length}}]:
              <input [(ngModel)]="calcDepth" class="form-control" #depth="ngModel" name="depth" id="depth" type="number"
                required [rangeVal]="ranges.depth" [min]="ranges.depth[0]" [max]="ranges.depth[1]" step="1"
                [class.is-invalid]="depth.invalid && (depth.dirty || depth.touched)" />
            </label>
            <div class="text-danger" *ngIf="depth.invalid && (depth.dirty || depth.touched)">Needs to be number {{ranges.depthLabel}}</div>
          </div>
          <div class="my-2">
            <label for="tank">Tank size [{{units.volume}}]:
              <input [(ngModel)]="calcTank" class="form-control" #tank="ngModel" name="tank" id="tank" type="number"
                required [rangeVal]="ranges.tankSize" [min]="ranges.tankSize[0]" [max]="ranges.tankSize[1]" step="1"
                [class.is-invalid]="tank.invalid && (tank.dirty || tank.touched)" />
            </label>
            <div class="text-danger" *ngIf="tank.invalid && (tank.dirty || tank.touched)">Needs to be number {{ranges.tankSizeLabel}}</div>
          </div>
          <div [hidden]="inDuration" class="my-2">
            <label for="duration">Dive time [min]:
              <input [(ngModel)]="calcDuration" class="form-control" #duration="ngModel" name="duration" id="duration"
              type="number" required  [rangeVal]="ranges.duration" [min]="ranges.duration[0]" [max]="ranges.duration[1]" step="1"
              [class.is-invalid]="duration.invalid && (duration.dirty || duration.touched)"
              />
            </label>
            <div class="text-danger" *ngIf="duration.invalid && (duration.dirty || duration.touched)"
            >Needs to be number {{ ranges.durationLabel }}</div>
          </div>
          <div [hidden]="inUsed" class="my-2">
            <label for="used">Gas consumed [{{units.pressure}}]:
              <input [(ngModel)]="calcUsed" class="form-control" #used="ngModel" name="used" id="used" type="number"
                required [rangeVal]="ranges.tankPressure" [min]="ranges.tankPressure[0]" [max]="ranges.tankPressure[1]" step="1"
                [class.is-invalid]="used.invalid && (used.dirty || used.touched)" />
            </label>
            <div class="text-danger" *ngIf="used.invalid && (used.dirty || used.touched)">Needs to be number {{ranges.tankPressureLabel}}</div>
          </div>
          <div [hidden]="inSac" class="my-2">
            <label for="sac">RMV [{{units.rmv}}]:
              <input [(ngModel)]="calcRmv" class="form-control" #sac="ngModel" name="sac" id="sac" type="number"
                 required [rangeVal]="ranges.diverRmv" [min]="ranges.diverRmv[0]" [max]="ranges.diverRmv[1]" step="1"
                 [class.is-invalid]="sac.invalid && (sac.dirty || sac.touched)" />
              <small class="form-text text-muted">SAC: {{gasSac() | number:'1.0-2'}} {{units.sac}}</small>
            </label>
            <div class="text-danger" *ngIf="sac.invalid && (sac.dirty || sac.touched)">Needs to be number {{ranges.diverRmvLabel}}</div>
          </div>
          <div [hidden]="!inSac" class="my-2">
            <label for="sac">RMV [{{units.rmv}}]:
              <input [ngModel]="calcRmv" class="form-control" readonly/>
              <small class="form-text text-muted">SAC: {{gasSac() | number:'1.0-2'}} {{units.sac}}</small>
            </label>
          </div>
          <div [hidden]="!inUsed" class="my-2">
            <label for="sac">Gas consumed [{{units.pressure}}]:
              <input [ngModel]="calcUsed" class="form-control" readonly/>
            </label>
          </div>
          <div [hidden]="!inDuration" class="my-2">
            <label for="sac">Dive time [min]:
              <input [ngModel]="calcDuration" class="form-control" readonly/>
            </label>
          </div>
        </div>
      </div>
      <div class="form-group mt-2">
        <button type="button" class="btn btn-primary me-2" (click)="goBack()">Back</button>
        <button type="button" class="btn btn-secondary" (click)="use()">Use</button>
      </div>
    </div>
  </div>
</div>
