<div class="card">
  <div class="card-header">
      <fa-icon [icon]="clock" class="mr-3"></fa-icon>
      <span>Plan</span>
  </div>
  <div class="card-body">
    <div class="form-group">
      <label for="duration">Bottom time [min.]:
        <input id="duration" name="duration" #duration="ngModel" [(ngModel)]="plan.duration" class="form-control" type="number"
         min="1" [min]="1" required [class.is-invalid]="duration.invalid && (duration.dirty || duration.touched)"/>
      </label>
      <div class="text-danger" *ngIf="duration.invalid && (duration.dirty || duration.touched)">Needs to be number > 0 min.</div>
    </div>
    <div class="form-group">
      <label for="depth">Depth [m]:
        <input id="depth" name="depth" #depth="ngModel" [(ngModel)]="plan.depth" class="form-control" type="number"
         min="1" [min]="1" required [class.is-invalid]="depth.invalid && (depth.dirty || depth.touched)"/>
        <small class="text-muted">No deco limit {{plan.noDecoTime}} min.</small>
        <div class="text-danger" *ngIf="depth.invalid && (depth.dirty || depth.touched)">Needs to be number > 0 m</div>
      </label>
    </div>

    <div class="form-group">
      <label for="strategy">Strategy:</label>
      <div class="input-group">
        <input id="strategy" [(ngModel)]="strategy" class="form-control" type="text" readonly/>
        <div ngbDropdown class="input-group-append d-inline-block" placement="bottom-right">
          <button class="btn btn-default" id="stragetyMenu" ngbDropdownToggle></button>
          <div ngbDropdownMenu aria-labelledby="stragetyMenu" aria-expanded="false">
            <button class="dropdown-item" (click)="allUsable()">{{AllUsable}}</button>
            <button class="dropdown-item" (click)="halfUsable()">{{HalfUsable}}</button>
            <button class="dropdown-item" (click)="thirdUsable()">{{ThirdUsable}}</button>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <button type="button" id="calculate" class="btn btn-primary" [(disabled)]="formValid" (click)="calculate()">Calculate</button>
    </div>
  </div>
</div>