<div class="card">
  <div class="card-header">
    <div class="float-left">
      <fa-icon [icon]="clock" class="mr-3"></fa-icon>
      <span>Plan</span>
    </div>
    <div class="float-right">
      <div class="custom-control custom-switch app-nav-switch" *ngIf="false">
        <input type="checkbox" class="custom-control-input btn-success" id="isTechnical" [checked]="isTechnical"
          (change)="isTechnical = !isTechnical" />
        <label class="custom-control-label" for="isTechnical">Technical diver</label>
      </div>
    </div>
  </div>
  <div class="card-body container">
    <div [ngClass]="{row: isTechnical}">
      <div [ngClass]="{col: isTechnical}">
        <div class="form-group" *ngIf="isTechnical">
          <label for="strategy">Strategy:</label>
          <div class="input-group">
            <input id="strategy" [(ngModel)]="strategy" class="form-control" type="text" readonly />
            <div ngbDropdown class="input-group-append d-inline-block" placement="bottom-right">
              <button type="button" class="btn btn-default border" id="stragetyMenu" ngbDropdownToggle></button>
              <div ngbDropdownMenu aria-labelledby="stragetyMenu" aria-expanded="false">
                <button type="button" class="dropdown-item" (click)="allUsable()">{{AllUsable}}</button>
                <button type="button" class="dropdown-item" (click)="halfUsable()">{{HalfUsable}}</button>
                <button type="button" class="dropdown-item" (click)="thirdUsable()">{{ThirdUsable}}</button>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group" *ngIf="!isTechnical">
          <label for="conservatism">Conservatism (Gradient factors):</label>
          <div class="input-group">
            <input id="conservatism" [(ngModel)]="conservatism" class="form-control" type="text" readonly />
            <div ngbDropdown class="input-group-append d-inline-block" placement="bottom-right">
              <button type="button" class="btn btn-default border" id="conservatismMenu" ngbDropdownToggle></button>
              <div ngbDropdownMenu aria-labelledby="conservatismMenu" aria-expanded="false">
                <button type="button" class="dropdown-item" (click)="lowConservatism()">{{Low}}</button>
                <button type="button" class="dropdown-item" (click)="mediumConservatism()">{{Medium}}</button>
                <button type="button" class="dropdown-item" (click)="highConservatism()">{{High}}</button>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="altitude">Altitude [m.a.s.l.]:
            <input id="altitude" name="altitude" #altitude="ngModel" [(ngModel)]="plannedAltitude" class="form-control"
              type="number" min="0" [min]="0" max="4000" [range]="[0, 4000]" required
              [class.is-invalid]="altitude.invalid && (altitude.dirty || altitude.touched)" />
            <div class="text-danger" *ngIf="altitude.invalid && (altitude.dirty || altitude.touched)">
              Needs to be number 0 - 4000 m
            </div>
          </label>
        </div>

        <div class="custom-control custom-switch form-group">
          <input type="checkbox" class="custom-control-input" id="isFreshWater" [checked]="!isFreshWater"
            (change)="isFreshWater = !isFreshWater" />
          <label class="custom-control-label" for="isFreshWater">Salt water</label>
        </div>
      </div>
      <div [ngClass]="{col: isTechnical}" *ngIf="isTechnical">
        <div class="form-group">
          <label for="gfLow">Gradient low:
            <input id="gfLow" name="gfLow" #gfLow="ngModel" [(ngModel)]="plannedGfLow" class="form-control"
              type="number" min="10" [min]="10" max="100" [range]="[10, 100]" required
              [class.is-invalid]="gfLow.invalid && (gfLow.dirty || gfLow.touched)" />
            <div class="text-danger" *ngIf="gfLow.invalid && (gfLow.dirty || gfLow.touched)">
              Needs to be number 0 - 100 lower than gradient high</div>
          </label>
        </div>
        <div class="form-group">
          <label for="gfHigh">Gradient high:
            <input id="gfHigh" name="gfHigh" #gfHigh="ngModel" [(ngModel)]="plannedGfHigh" class="form-control"
              type="number" min="10" [min]="10" max="100" [range]="[10, 100]" required
              [class.is-invalid]="gfHigh.invalid && (gfHigh.dirty || gfHigh.touched)" />
            <div class="text-danger" *ngIf="gfHigh.invalid && (gfHigh.dirty || gfHigh.touched)">
              Needs to be number 0 - 100 higher than gradient low
            </div>
          </label>
        </div>
      </div>
      <div [ngClass]="{col: isTechnical}" *ngIf="isTechnical">
        <div class="form-group" >
          <label for="descSpeed">Descent speed [m/min.]:
            <input id="descSpeed" name="descSpeed" #descSpeed="ngModel" [(ngModel)]="descentSpeed" class="form-control"
              type="number" min="1" [min]="1" max="100" [range]="[1, 100]" required
              [class.is-invalid]="descSpeed.invalid && (descSpeed.dirty || descSpeed.touched)" />
            <div class="text-danger" *ngIf="descSpeed.invalid && (descSpeed.dirty || descSpeed.touched)">
              Needs to be number 1 - 100
            </div>
          </label>
        </div>

        <div class="form-group">
          <label for="ascSpeed">Ascent speed [m/min.]:
            <input id="ascSpeed" name="ascSpeed" #ascSpeed="ngModel" [(ngModel)]="ascentSpeed" class="form-control"
              type="number" min="1" [min]="1" max="100" [range]="[1, 100]" required
              [class.is-invalid]="ascSpeed.invalid && (ascSpeed.dirty || ascSpeed.touched)" />
            <div class="text-danger" *ngIf="ascSpeed.invalid && (ascSpeed.dirty || ascSpeed.touched)">
              Needs to be number 1 - 100
            </div>
          </label>
        </div>
      </div>
      
    </div>
    <div class="form-group">
      <button type="submit" id="calculate" class="btn btn-primary" [(disabled)]="formValid"
        (click)="calculate()">Calculate</button>
    </div>
  </div>
</div>