<div class="d-flex d-inline-flex dropdown" mdbDropdown>
    <mdb-form-control>
        <input id="salinity" [value]="salinityOption" class="form-control col-auto" type="text" [readonly]="true"
            mdbInput />
        <label for="salinity" class="form-label" mdbLabel>Water salinity:</label>
    </mdb-form-control>
    <button class="btn btn-default dropdown-toggle dropdown-toggle-split" aria-expanded="false" id="salinityMenu"
        type="button" data-mdb-toggle="dropdown" mdbDropdownToggle></button>
    <ul class="dropdown-menu dropdown-menu-end" mdbDropdownMenu>
        <li (click)="useFresh()"><a class="dropdown-item">{{freshName}}</a></li>
        <li (click)="useBrackish()"><a class="dropdown-item">{{brackishName}}</a></li>
        <li (click)="useSalt()"><a class="dropdown-item">{{saltName}}</a></li>
    </ul>
</div>
