<div class="container mt-5">
  <div class="row">
    <div class="col-lg-3 col-md-6 mt-3">
      <div class="card">
        <div class="card-header">
          Diver
        </div>
        <div class="card-body">
          <div>
            <label for="sac">Surface air consumption [L/min.]:
              <input [(ngModel)]="diver.sac" placeholder="20" class="form-control"
               type="number" min="5" max="100" required/>
            </label>
          </div>
          <div>
            <label for="maxPpO2">Maximum ppO2:
              <input [(ngModel)]="diver.maxPpO2" placeholder="1.6" class="form-control" 
              type="number" min=".21" max="3" required/>
            </label>
          </div>
        </div>
      </div>
      <div class="form-group mt-2">
          <button class="btn btn-primary" (click)="goBack()">Back</button>
        </div>
    </div>
  </div>
</div>