<div class="row mt-5">
  <div class="col col-12 col-md-7 col-lg-4 col-xl-5 col-xxl-4 mt-3">
    <div class="card">
      <app-card-header
        [cardTitle]="'gasProps.cardTitle' | translate"
        helpDocument="gas_properties"
        [headerIcon]="calcIcon">
      </app-card-header>
      <div class="card-body">
        <form [formGroup]="gasForm">
          <div class="row">
            <div class="col-12 col-sm-6 col-lg-12 col-xl-6">
              <div class="pt-2 mb-4">
                <app-oxygen-dropdown [tank]="tank" id="o2Item" (gasChange)="inputChanged()"
                  (standardGasApplied)="standardGasApplied()" [nitroxForm]="gasForm" controlName="o2"
                [showBestMix]="false" [showTrimixGases]="true"></app-oxygen-dropdown>
                <small class="text-muted">{{ 'gasProps.nitroxLabel' | translate }} {{ nitrogen | number: '1.0-2' }} [%]</small>
              </div>
              <div class="pt-2 mb-4">
                <label for="heItem" class="form-label">{{ 'gasProps.heLabel' | translate }}</label>
                <input formControlName="he" class="form-control" type="number" (input)="inputChanged()"
                  [min]="ranges.tankHe[0]" [max]="ranges.tankHe[1]" step="1" required
                  [class.is-invalid]="gasHeInvalid" id="heItem" />
                  @if (gasHeInvalid) {
                    <div class="text-danger">{{ 'validation.needsNumber' | translate }}
                    {{ranges.tankHeLabel}}</div>
                  }
                </div>
                <div class="pt-2 mb-4">
                  <app-pp-o2 [maxPpO2]="calc.maxPpO2" (ppO2Change)="inputChanged()" [label]="'ppo2.maxPpo2Label' | translate"
                  [pO2Form]="gasForm" controlName="maxPO2"></app-pp-o2>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-12 col-xl-6">
                <div class="pt-2 mb-4">
                  <label for="maxNarcoticDepth" class="form-label" mdbLabel>{{ 'gasProps.maxNarcoticDepthLabel' | translate }}
                  [{{units.length}}]:</label>
                  <input id="maxNarcoticDepth" class="form-control" type="number" formControlName="mndLimit"
                    required [min]="ranges.narcoticDepth[0]" [max]="ranges.narcoticDepth[1]" step="1"
                    (input)="inputChanged()" [class.is-invalid]="narcoticDepthInvalid" />
                    <div class="invalid-feedback position-absolute">
                      {{ 'validation.needsNumber' | translate }} {{ranges.narcoticDepthLabel}}
                    </div>
                  </div>
                  <div class="pt-2 mb-4">
                    <div class="form-check form-switch pb-1">
                      <input type="checkbox" class="form-check-input" id="oxygenNarcotic" mdbCheckbox
                        [checked]="calc.oxygenNarcotic" (change)="switchOxygenNarcotic()" />
                        <label class="form-check-label" for="oxygenNarcotic">{{ 'gasProps.oxygenNarcoticLabel' | translate }}</label>
                      </div>
                    </div>
                    <div class="pt-2 mb-4">
                      <label for="depth" class="form-label" mdbLabel>{{ 'gasProps.propertiesAtDepthLabel' | translate }} [{{units.length}}]:
                      </label>
                      <input class="form-control" type="number" (input)="inputChanged()" id="depth"
                        formControlName="depth" required [min]="ranges.depth[0]" [max]="ranges.depth[1]" step="1"
                        [class.is-invalid]="depthInvalid" />
                        <div class="invalid-feedback position-absolute">{{ 'validation.needsNumber' | translate }}
                        {{ranges.depth}}</div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col col-12 col-md-5 col-lg-4 col-xl-4 col-xxl-3 mt-3">
            <div class="card">
              <div class="card-header">
                <span>{{ 'gasProps.gasPropertiesLabel' | translate }}</span>
              </div>
              <div class="card-body">
                <table class="table table-sm p-0">
                  <tbody>
                    <tr>
                      <td>{{ 'gasProps.oxygenPartialPressureLabel' | translate }}</td>
                      <td class="table-active">{{ calc.ppO2 | number: '1.0-2' }}</td>
                    </tr>
                    <tr>
                      <td>{{ 'gasProps.heliumPartialPressureLabel' | translate }}</td>
                      <td class="table-active">{{ calc.ppHe | number: '1.0-2'}}</td>
                    </tr>
                    <tr>
                      <td>{{ 'gasProps.nitrogenPartialPressureLabel' | translate }}</td>
                      <td class="table-active">{{ calc.ppN2 | number: '1.0-2' }}</td>
                    </tr>
                    <tr>
                      <td>{{ 'gasProps.totalPartialPressureLabel' | translate }}</td>
                      <td class="table-active">{{ calc.totalPp | number: '1.0-2' }}</td>
                    </tr>
                    <tr>
                      <td>{{ 'gasProps.minimumDepthLabel' | translate }} [{{units.length}}]
                        @if (calc.minPpO2Exceeded) {
                          <fa-icon [icon]="warningIcon" class="me-2 text-warning"></fa-icon>
                        }
                      </td>
                      <td class="table-active">{{ calc.minDepth | number: '1.0-1' }}</td>
                    </tr>
                    <tr>
                      <td>{{ 'gasProps.maximumDepthLabel' | translate }} [{{units.length}}]
                        @if (calc.maxPpO2Exceeded) {
                          <fa-icon [icon]="warningIcon" class="me-2 text-warning"></fa-icon>
                        }
                      </td>
                      <td class="table-active">{{ calc.maxDepth | number: '1.0-1' }}</td>
                    </tr>
                    @if (isNitrox) {
                      <tr>
                        <td>{{ 'gasProps.equivalentAirDepthLabel' | translate }} [{{units.length}}]</td>
                        <td class="table-active">{{ calc.ead | number: '1.0-1' }}</td>
                      </tr>
                    }
                    <tr>
                      <td>{{ 'gasProps.equivalentNarcoticDepthLabel' | translate }} [{{units.length}}]
                        @if (calc.mndExceeded) {
                          <fa-icon [icon]="warningIcon" class="me-2 text-warning"></fa-icon>
                        }
                      </td>
                      <td class="table-active">{{ calc.end | number: '1.0-1' }}</td>
                    </tr>
                    <tr>
                      <td>{{ 'gasProps.maximumNarcoticDepthLabel' | translate }} [{{units.length}}]</td>
                      <td class="table-active">{{ calc.mnd | number: '1.0-1' }}</td>
                    </tr>
                    <tr>
                      <td>{{ 'gasProps.densityLabel' | translate }} [{{units.density}}]
                        @if (calc.densityExceeded) {
                          <fa-icon [icon]="warningIcon" class="me-2 text-warning"></fa-icon>
                        }</td>
                        <td class="table-active">{{ calc.density | number: '1.0-2' }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="col col-12 col-md-12 col-lg-4 col-xl-3 col-xxl-5 mt-3">
              <div class="card">
                <div class="card-header">
                  <fa-icon [icon]="warningIcon" class="me-3"></fa-icon>
                  <span>{{ 'gasProps.warningsLabel' | translate }}</span>
                </div>
                <div class="card-body">
                  <div class="mb-4">{{ depthConverterWarning | translate }}</div>
                  @if (calc.minPpO2Exceeded) {
                    <div class="alert alert-warning">
                      <fa-icon [icon]="warningIcon" class="me-2"></fa-icon>
                      <strong>{{ 'gasProps.minimumDepthWarningTitle' | translate }}</strong>
                      <span>{{ 'gasProps.minimumDepthWarningMessage' | translate:{ minPpO2: calc.minPpO2 } }}</span>
                    </div>
                  }
                  @if (calc.maxPpO2Exceeded) {
                    <div class="alert alert-warning">
                      <fa-icon [icon]="warningIcon" class="me-2"></fa-icon>
                      <strong>{{ 'gasProps.maximumDepthWarningTitle' | translate }}</strong>
                      <span>{{ 'gasProps.maximumDepthWarningMessage' | translate:{ maxPpO2: calc.maxPpO2 } }}</span>
                    </div>
                  }
                  @if (calc.mndExceeded) {
                    <div class="alert alert-warning">
                      <fa-icon [icon]="warningIcon" class="me-2"></fa-icon>
                      <strong>{{ 'gasProps.mndWarningTitle' | translate }}</strong>
                      <span>{{ 'gasProps.mndWarningMessage' | translate:{ mndLimit: calc.mndLimit, unit: units.length } }}</span>
                    </div>
                  }
                  @if (calc.densityExceeded) {
                    <div class="alert alert-warning">
                      <fa-icon [icon]="warningIcon" class="me-2"></fa-icon>
                      <strong>{{ 'gasProps.densityWarningTitle' | translate }}</strong>
                      <span>{{ 'gasProps.densityWarningMessage' | translate:{ maxDensity: calc.maxDensity, unit: units.density } }}</span>
                    </div>
                  }
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group mt-3">
              <button type="button" class="btn btn-primary me-2" (click)="location.back()">{{ 'common.back' | translate }}</button>
            </div>
          </div>
