<div class="my-4">
  <div class="d-flex flex-row justify-content-between">
    <strong class="text-start">{{ consumed.gas.name }}</strong>
  </div>
  <div class="d-flex flex-row flex-wrap justify-content-between">
    <small class="text-muted">{{ 'gasChart.reserve' | translate }} <strong class="reserve-value-text">{{ reserve | number:'1.0-0' }}</strong> {{ units.volume }}</small>
    <small class="text-muted">{{ 'gasChart.consumed' | translate }} <strong class="consumed-value-text">{{ consumedVolume | number:'1.0-0' }}</strong> {{ units.volume }}</small>
    <small class="text-muted">{{ 'gasChart.available' | translate }} <strong class="available-value-text">{{ available | number:'1.0-0' }}</strong> {{ units.volume }}</small>
  </div>
  <div class="progress gas-bar mt-1 mb-2">
    <div class="stacked-wrapper">
      <div role="progressbar" aria-valuemin="0" [attr.aria-valuemax]="consumed.scale"
        [attr.aria-valuenow]="consumed.total" [style.width]="consumed.percentsAvailable + '%'" class="available-bar">
      </div>
      <div role="progressbar" aria-valuemin="0" [attr.aria-valuemax]="consumed.scale"
        [attr.aria-valuenow]="consumed.reserve" [style.width]="consumed.percentsReserve + '%'" class="reserve-bar-stacked">
        {{ reserve | number:'1.0-0' }}
      </div>
      <div role="progressbar" aria-valuemin="0" [attr.aria-valuemax]="consumed.scale"
        [attr.aria-valuenow]="consumed.consumed" [style.left]="consumed.percentsReserve + '%'"
        [style.width]="consumed.percentsConsumed + '%'"
        [ngClass]="{'consumed-bar': true, 'bg-success': consumed.hasReserve, 'bg-danger': !consumed.hasReserve }">
        {{ consumedVolume | number:'1.0-0' }}
      </div>
    </div>
  </div>
</div>
