<div class="card">
    <form [formGroup]="tanksForm">
        <div class="card-header ">
            <fa-icon [icon]="icon" class="me-3"></fa-icon>
            <span>Bottom gas tank</span>
        </div>
        <div class="card-body row">
            <div class="mb-4 col col-12 col-md-6">
                <label for="size" class="form-label" mdbLabel>Size [{{units.volume}}]:</label>
                <input formControlName="firstTankSize" class="form-control" type="number" (input)="applySimple()"
                    required [min]="ranges.tankSize[0]" [max]="ranges.tankSize[1]" step="1"
                    [class.is-invalid]="firstTankSizeInvalid" id="sizeFirstTank" />
                <div class="invalid-feedback position-absolute">Needs to be number {{ranges.tankSizeLabel}}</div>
                <div class="form-text text-muted" [class.invisible]="firstTankSizeInvalid">SAC: {{gasSac() |
                    number:'1.0-2'}} {{units.sac}}</div>
            </div>
            <div class="mb-4 col col-12 col-md-6">
                <label for="startPressure" class="form-label" mdbLabel>Start pressure [{{units.pressure}}]: </label>
                <input class="form-control" type="number" (input)="applySimple()" id="startPressureFirstTank"
                    formControlName="firstTankStartPressure" required [min]="ranges.tankPressure[0]"
                    [max]="ranges.tankPressure[1]" step="1" [class.is-invalid]="firstTankStartPressureInvalid" />
                <div class="invalid-feedback position-absolute">Needs to be number
                    {{ranges.tankPressureLabel}}</div>
            </div>
            <div class="mb-4 col col-12 col-md-6">
                <app-oxygen [tank]="firstTank" [toxicity]="toxicity" (gasChange)="applySimple()"
                    (assignBestMix)="assignBestMix()"></app-oxygen>
            </div>
        </div>
    </form>
</div>
