<div class="card-header d-flex justify-content-between align-items-center">
    <div>
      <fa-icon [icon]="headerIcon" class="me-3"></fa-icon>
    <span>{{ title }}</span>
    </div>
    <div class="d-flex justify-content-between align-items-center">

        <ng-content></ng-content>

        <button
            type="button"
            class="btn btn-sm btn-secondary ms-2"
            (click)="openHelp()"
            title="More info"
            aria-label="Open help panel"            >
            <fa-icon [icon]="helpIcon" class="fa-lg"></fa-icon>
        </button>
    </div>
  </div>
