<div class="row mt-5">
    <app-diver class="col col-auto" [diver]="diver" [ranges]="(units.ranges$ | async) || units.ranges"></app-diver>
    <div class="col col-auto mt-3" *ngIf="false">
        <div class="card">
            <div class="card-header">
                <fa-icon [icon]="flagIcon" class="me-3"></fa-icon>
                <span>Units</span>
            </div>
            <div class="card-body">
                <div class="form-check">
                    <input type="radio" name="unitsRadio" id="metricRadio" class="form-check-input"
                        [checked]="!imperialUnits" (change)="imperialUnits = !imperialUnits" />
                    <label class="custom-control-label" for="metricRadio" value="metric">Metric units (m, l, bar)</label>
                </div>
                <div class="form-check">
                    <input type="radio" name="unitsRadio" id="imperialRadio" class="form-check-input"
                        [checked]="imperialUnits" (change)="imperialUnits = !imperialUnits">
                    <label class="custom-control-label" for="imperialRadio" value="imperial">Imperial units (ft, cuft, psi)</label>
                  </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group mt-2">
        <button type="button" class="btn btn-primary me-2" (click)="goBack()">Back</button>
        <button type="button" class="btn btn-secondary" (click)="use()">Use</button>
    </div>
</div>
