<div class="row mt-5">
    <form [formGroup]="settingsForm" class="row">
        <div class="col col-12 col-sm-7 col-lg-5 col-xl-4 col-xxl-3 mt-3">
            <div class="card">
                <div class="card-header">
                    <fa-icon [icon]="diverIcon" class="me-3"></fa-icon>
                    <span>Limits</span>
                </div>
                <div class="card-body">
                    <p>Options for application limits: Primary tank minimum reserve pressure</p>

                    <div class="mb-4 col col-12 col-md-6 col-lg-12 col-xl-6">
                        <label for="maxDensity" class="form-label" mdbLabel>Max gas density [{{units.density}}]:
                        </label>
                        <input class="form-control" type="number" id="maxDensity"
                               formControlName="maxDensity" required [min]="ranges.maxDensity[0]"
                               [max]="ranges.maxDensity[1]" step="0.1" [class.is-invalid]="maxDensityInvalid" />
                        <div class="invalid-feedback position-absolute">Needs to be number {{ranges.maxDensityLabel}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-12 col-sm-7 col-lg-5 col-xl-4 col-xxl-3 mt-3">
            <div class="card">
                <div class="card-header">
                    <fa-icon [icon]="flagIcon" class="me-3"></fa-icon>
                    <span>Units</span>
                </div>
                <div class="card-body">
                    <div class="form-check">
                        <input type="radio" id="metricRadio" class="form-check-input" formControlName="imperialUnits"
                            [value]="false" />
                        <label class="custom-control-label" for="metricRadio" value="metric">Metric units (m, l,
                            bar)</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" id="imperialRadio" class="form-check-input" formControlName="imperialUnits"
                            [value]="true" />
                        <label class="custom-control-label" for="imperialRadio">Imperial units (ft, cuft, psi)<br>
                            (Experimental, not recommended)</label>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <div class="form-group mt-3">
        <button type="button" class="btn btn-primary me-2" (click)="location.back()">Back</button>
        <button type="button" class="btn btn-secondary" (click)="use()" [hidden]="!settingsForm.valid">Use</button>
    </div>
</div>
