<div class="jumbotron m-4 pt-5">
    <h1>About Gas Planner</h1>
    <p>Open source Scuba diving application to help divers plan their dives.<br />
        Plan your dive and dive your plan!</p>
    <ngb-alert type="warning" [dismissible]="false" class="mt-4">
        <fa-icon [icon]="exclamation" class="me-2 fa-lg"></fa-icon>
        <span><strong>Disclaimer:</strong> None of the authors, contributors, administrators, or anyone else connected with this project can be responsible
            for your use of the information provided by this application or linked from these web pages. Use the results at your own risk.</span>
    </ngb-alert>
    <div class="mt-4">
        <a class="btn btn-primary btn-lg" href="https://github.com/jirkapok/GasPlanner" target="_blank">Github
            project</a>
    </div>
</div>
