<div class="jumbotron m-4 pt-5">
    <h1>{{ 'about.title' | translate }}</h1>
    <p>{{ 'about.tagline1' | translate }}<br />
        {{ 'about.tagline2' | translate }}</p>
    <app-info></app-info>
    <div class="alert alert-warning alert-dismissible fade show mt-4" role="alert">
        <fa-icon [icon]="exclamation" class="me-2 fa-lg"></fa-icon>
        <span><strong>{{ 'about.disclaimerLabel' | translate }}</strong> {{ 'about.disclaimerText' | translate }}</span>
    </div>
    <div class="mt-4">
        <a class="btn btn-primary btn-lg" href="{{urls.projectUrl}}" target="_blank">{{ 'about.githubProject' | translate }}</a>
    </div>
</div>
