.dive-level {
    stroke:royalblue;
    stroke-width:2;
}

.dive-surface {
    stroke:navy;
    stroke-width:4;
}

.dive-waypoint {
    text-anchor:end;
}

.dive-nodeco {
    fill: red;
    r:6;
}

.dive-plot {
    position: relative;
    width: 100%;
    height: 450px;
}

.plot-display {
    display: block;
}

.plot-hidden {
    display: none;
}
