<div class="container mt-5">
  <div class="row">
    <div class="col-lg-3 col-md-6 mt-3">
      <div class="card">
        <div class="card-header">
            <fa-icon [icon]="user" class="mr-3"></fa-icon>
            <span>Diver</span>
        </div>
        <div class="card-body">
          <div>
            <label for="sac">Surface air consumption [L/min.]:
              <input [(ngModel)]="diver.sac" class="form-control" #sac="ngModel" name="sac" id="sac"
               type="number" min="5" max="100" [range]="[5,100]" required
               [class.is-invalid]="sac.invalid && (sac.dirty || sac.touched)"/>
            </label>
            <div class="text-danger" *ngIf="sac.invalid && (sac.dirty || sac.touched)">Needs to be number 5-100 L/min.</div>
          </div>
          <div>
            <label for="maxPpO2">Maximum ppO2:
              <input [(ngModel)]="diver.maxPpO2" class="form-control" #maxPpO2="ngModel" name="maxPpO2" id="maxPpO2"
              type="number" min=".21" max="3" [range]="[.21,3]" required
              [class.is-invalid]="maxPpO2.invalid && (maxPpO2.dirty || maxPpO2.touched)"/>
            </label>
            <div class="text-danger" *ngIf="maxPpO2.invalid && (maxPpO2.dirty || maxPpO2.touched)">Needs to be number 0.21-3</div>
          </div>
          <div>
            <label for="maxDecoPpO2">Maximum deco ppO2:
              <input [(ngModel)]="diver.maxDecoPpO2" class="form-control" #maxDecoPpO2="ngModel" name="maxDecoPpO2" id="maxDecoPpO2"
              type="number" min=".21" max="3" [range]="[.21,3]" required
              [class.is-invalid]="maxDecoPpO2.invalid && (maxDecoPpO2.dirty || maxDecoPpO2.touched)"/>
            </label>
            <div class="text-danger" *ngIf="maxDecoPpO2.invalid && (maxDecoPpO2.dirty || maxDecoPpO2.touched)">Needs to be number 0.21-3</div>
          </div>
        </div>
      </div>
      <div class="form-group mt-2">
          <button  type="button" class="btn btn-primary" (click)="goBack()">Back</button>
        </div>
    </div>
  </div>
</div>