<div class="row mt-5">
    <div class="col col-sm-8 col-md-6 col-lg-5 col-xl-4 col-xxl-3 mt-3">
        <div class="card">
            <div class="card-header">
                <fa-icon [icon]="calcIcon" class="me-3"></fa-icon>
                <span>Altitude calculator</span>
            </div>
            <div class="card-body">
                <form [formGroup]="altitudeForm">
                    <div>
                        <div class="pt-2 mb-4">
                            <label for="pressure" class="form-label" mdbLabel>Atmospheric pressure
                                [{{units.pressure}}]:</label>
                            <input class="form-control" name="pressure" id="pressure" type="number"
                                formControlName="pressure" (input)="inputChanged()" [min]="0.7" [max]="1.2" step="0.01"
                                [class.is-invalid]="pressureInvalid" />
                            <div class="invalid-feedback position-absolute">Needs to be number 0.7 - 1.2 b
                            </div>
                        </div>
                    </div>
                    <div>Actual depth [{{units.length}}]:
                        <input class="form-control" name="actualDepth" id="actualDepth" type="number"
                        formControlName="actualDepth" (input)="inputChanged()" [min]="ranges.depth[0]" [max]="ranges.depth[1]" step="1"
                        [class.is-invalid]="actualDepthInvalid" />
                    </div>
                    <div>Altitude [{{units.altitude}}]: {{calc.altitude}}
                        <!-- <input class="form-control" name="altitude" id="altitude" type="number" formControlName="altitude"
                                (input)="inputChanged()" [min]="ranges.altitude[1]" [max]="ranges.altitude[1]" step="1"
                                [class.is-invalid]="altitudeInvalid" /> -->
                    </div>
                    <div>Theoretical salt water depth [{{units.length}}]: {{calc.theoreticalDepth}}</div>

                </form>
            </div>
        </div>
        <div class="form-group mt-3">
            <button type="button" class="btn btn-primary me-2" (click)="location.back()">Back</button>
        </div>
    </div>
</div>
