.gas-bar {
    padding: 5px 8px;
    height: 2em;
    font-size: 1em;
    border: 1px solid #a1a1a1;
    border-radius: .5em;
    background: transparent;
    box-shadow: none;
    overflow: visible;
    position: relative;
 }

 .rounded-progress {
     border-radius: .25em 0em 0em .25em;
 }

 .reserve-overlay {
     position: relative;
 }

 .reserve-value {
     position: absolute;
     bottom: -4em;
     right: 0px;
     text-align: right;
 }

 .reserve-bar {
     position: absolute;
     padding: 0px 3px 0px 0px;
     height: 4em;
     top: -.1em;
     left: 0px;
     text-align: right;
     font-size: .75em;
     border-right: 2px solid darkorange;
 }
