<!--<app-loadtestdata></app-loadtestdata>-->
<div class="mt-5">
    <app-diff-tabs></app-diff-tabs>

    <div class="row">
        <div class="col-12 col-xl-6 col-xxl-6 mt-4">
            <app-diff-profilechart></app-diff-profilechart>
        </div>
        <div class="col-xl-6 mt-4">
            <app-diff-waypoints></app-diff-waypoints>
        </div>
        <div class="col-xl-6 col-xxl-6 mt-4">
            <app-diff-diveresults></app-diff-diveresults>
        </div>
        <div class="col-xl-6 col-xxl-6 mt-4">
            <app-diff-gas-consumed></app-diff-gas-consumed>
        </div>
    </div>
</div>
