<div class="position-absolute z-index-"><app-loadtestdata></app-loadtestdata></div>

<div *ngIf="profileComparatorService.hasTwoProfiles(); else missingProfiles" class="mt-5">
    <div class="row">
        <div class="col-12 col-lg-12 col-xl-6 col-xxl-6 mt-4">
            <app-diff-profilechart></app-diff-profilechart>
        </div>
        <div class="col-md-6 col-xl-6 mt-4">
            <app-diff-waypoints [data]="testData"></app-diff-waypoints>
        </div>
        <div class="col-md-6 col-xl-5 col-xxl-3 mt-4">
            <app-diff-diveinfo></app-diff-diveinfo>
        </div>
    </div>
</div>

<ng-template #missingProfiles>
    <div class="mt-5">
        <div class="row">
            <div class="col-11 m-5">Please make at least 2 profiles</div>
        </div>
    </div>
</ng-template>
