<div class="card">
    <div class="card-header">Dive</div>
    <div *ngIf="!dive.calculated" class="card-body">Not calculated yet</div>
    <div class="card-body" *ngIf="dive.calculated">
        <table class="table table-noheader">
            <tr>
                <td>Time to surface [min.]:</td>
                <td class="table-active">
                    <strong>{{ dive.timeToSurface }}</strong>
                </td>
            </tr>
            <tr>
                <td>Maximum dive time [min.]:</td>
                <td class="table-active">
                    <strong>{{ dive.maxTime }}</strong>
                </td>
            </tr>
            <tr>
                <td>Rock bottom [bar]:</td>
                <td class="table-active">
                    <strong>{{ dive.rockBottom }}</strong>
                </td>
            </tr>
            <tr *ngIf="dive.needsReturn">
                <td>Turn time [min]:</td>
                <td class="table-active">
                    <strong>{{ dive.turnTime }}</strong>
                </td>
            </tr>
            <tr *ngIf="dive.needsReturn">
                <td>Turn pressure [bar]:</td>
                <td class="table-active">
                    <strong>{{ dive.turnPressure }}</strong>
                </td>
            </tr>
        </table>
        <div>
            <div>Bottom gas: {{ bottomGas.endPressure }}/{{ bottomGas.startPressure }} bar</div>
            <div class="progress gas-bar">
                <div class="progress-bar bg-warning" role="progressbar" aria-valuemin="0"
                 [attr.aria-valuenow]="bottomGasRockBottom" [attr.aria-valuemax]="bottomGasMax"
                    [style.width]="percentsRockBottom + '%'">{{bottomGasRockBottom}}</div>
                <div class="progress-bar bg-success gas-bar" role="progressbar" aria-valuemin="0"
                    [attr.aria-valuenow]="bottomGasRemaining" [attr.aria-valuemax]="bottomGasMax"
                    [style.width]="bottomGasPercentsRemaining + '%'">{{bottomGasRemaining}}</div>
            </div>
            <small class="text-muted">{{bottomGas.name}} MOD: {{bottomGas.mod}} m</small>
        </div>
    </div>
</div>