<div class="card">
    <div class="card-header">
        <fa-icon [icon]="tasks" class="mr-3"></fa-icon>
        <span>Dive</span>
    </div>
    <div *ngIf="!dive.calculated" class="card-body">Not calculated yet</div>
    <div *ngIf="dive.hasErrors" class="card-body">
        <div *ngIf="dive.notEnoughGas" class="alert  alert-danger">
            <fa-icon [icon]="exclamation" class="mr-1"></fa-icon>
            <span>Not enough gas, Maximum dive time {{dive.maxTime}} min. exceeded!</span>
        </div>
        <div *ngIf="dive.depthExceeded" class="alert  alert-danger">
            <fa-icon [icon]="exclamation" class="mr-1"></fa-icon>
            <span>Maximum depth {{gasMod}} m exceeded!</span>
        </div>
        <div *ngIf="dive.notEnoughTime" class="alert  alert-danger">
            <fa-icon [icon]="exclamation" class="mr-1"></fa-icon>
            <span>Not enough time to realize the dive (duration needs to at least {{dive.timeToSurface}} min.)!</span>
        </div>
    </div>

    <div *ngIf="dive.calculated && !dive.hasErrors" class="card-body">
        <table class="table table-noheader">
            <tr>
                <td>Time to surface [min.]:</td>
                <td class="table-active">
                    <strong>{{ dive.timeToSurface }}</strong>
                </td>
            </tr>
            <tr>
                <td>Maximum bottom time [min.]:</td>
                <td class="table-active">
                    <strong>{{ dive.maxTime }}</strong>
                </td>
            </tr>
            <tr>
                <td>Rock bottom [bar]:</td>
                <td class="table-active">
                    <strong>{{ dive.rockBottom }}</strong>
                </td>
            </tr>
            <tr *ngIf="dive.needsReturn">
                <td>Turn time [min]:</td>
                <td class="table-active">
                    <strong>{{ dive.turnTime }}</strong>
                </td>
            </tr>
            <tr *ngIf="dive.needsReturn">
                <td>Turn pressure [bar]:</td>
                <td class="table-active">
                    <strong>{{ dive.turnPressure }}</strong>
                </td>
            </tr>
        </table>
        <div>
            <div>Bottom gas: {{ bottomGas.endPressure }}/{{ bottomGas.startPressure }} bar</div>
            <div class="progress gas-bar">
                <div class="progress-bar bg-warning" role="progressbar" aria-valuemin="0" [attr.aria-valuenow]="bottomGasRockBottom" [attr.aria-valuemax]="bottomGasMax"
                    [style.width]="percentsRockBottom + '%'">{{bottomGasRockBottom}}</div>
                <div class="progress-bar bg-success gas-bar" role="progressbar" aria-valuemin="0" [attr.aria-valuenow]="bottomGasRemaining"
                    [attr.aria-valuemax]="bottomGasMax" [style.width]="bottomGasPercentsRemaining + '%'">{{bottomGasRemaining}}</div>
            </div>
            <app-gaslabel></app-gaslabel>
        </div>
        <div class="mt-3" #graph>
            <svg height="300px" width="100%">
                <line x1="0" y1="0" [attr.x2]="graph.offsetWidth" y2="0" class="dive-surface" />
                <line *ngFor="let point of dive.wayPoints"
                  [attr.x1]="scaleWidth(point.startTime, graph.offsetWidth)" [attr.y1]="scaleHeight(point.startDepth, graph.offsetHeight)" 
                  [attr.x2]="scaleWidth(point.endTime, graph.offsetWidth)" [attr.y2]="scaleHeight(point.endDepth, graph.offsetHeight)"
                  class="dive-level" />
                <text *ngFor="let point of dive.wayPoints" class="dive-waypoint"
                  [attr.x]="scaleWidth(point.endTime, graph.offsetWidth) - 5" [attr.y]="scaleHeight(point.startDepth, graph.offsetHeight) - 5">{{point.label}}</text>
            </svg>
          </div>
    </div>
</div>