<div class="card">
    <div class="card-header">
        <fa-icon [icon]="tasks" class="me-3"></fa-icon>
        <span>Dive way points</span>
    </div>
    <div class="card-body">
        <table class="table">
            <tbody>
                <tr>
                    <th></th>
                    <th>Depth [m]</th>
                    <th>Duration [min.]</th>
                    <th>Run [min.]</th>
                    <th *ngIf="isComplex">Gas</th>
                </tr>
                <tr *ngFor="let point of dive.wayPoints" [ngClass]="{'table-active': point.selected }">
                    <td>
                        <fa-icon [icon]="swimActionIcon(point)" [ngClass]="iconClasses(point)" [title]="iconTitle(point)"></fa-icon>
                    </td>
                    <td>{{ point.endDepth }}</td>
                    <td>{{ durationToString(point.duration) | date:durationFormat() }}</td>
                    <td>{{ durationToString(point.endTime) | date:durationFormat() }}</td>
                    <td *ngIf="isComplex">{{ point.gasName }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
