<div class="card">
    <div class="card-header">
        <fa-icon [icon]="tasks" class="mr-3"></fa-icon>
        <span>Dive way points</span>
    </div>
    <div class="card-body">
        <table class="table table-noheader">
            <tr>
                <th></th>
                <th class="mx-0 px-0">Depth [m]</th>
                <th class="mx-0 px-0">Duration [min.]</th>
                <th class="mx-0 px-0">Run [min.]</th>
                <th class="mx-0 px-0" *ngIf="isComplex">Gas</th>
            </tr>
            <tr *ngFor="let point of dive.wayPoints" [ngClass]="{'table-active': point.selected }">
                <td class="mx-0 pr-3">
                    <fa-icon [icon]="swimActionIcon(point)" [ngClass]="iconClasses(point)" [title]="iconTitle(point)"></fa-icon>
                </td>
                <td class="mx-0 px-0">{{ point.endDepth }}</td>
                <td class="mx-0 px-0">{{ durationToString(point.duration) | date:durationFormat() }}</td>
                <td class="mx-0 px-0">{{ durationToString(point.endTime) | date:durationFormat() }}</td>
                <td class="mx-0 px-0" *ngIf="isComplex">{{ point.gasName }}</td>
            </tr>
        </table>
    </div>
</div>
