@if (dive.calculated && dive.failed) {
  <div class="alert alert-danger">
    <fa-icon [icon]="exclamation" class="me-2"></fa-icon>
    <span>{{ 'diveIssues.calculationError' | translate }}</span>
  </div>
}

@if (dive.diveInfoCalculated && dive.notEnoughTime) {
  <div class="alert alert-danger">
    <fa-icon [icon]="exclamation" class="me-2"></fa-icon>
    <span>{{ 'diveIssues.notEnoughTimePrefix' | translate }} {{ minimumDuration |
    number:'1.0-0' }} {{ 'diveIssues.notEnoughTimeSuffix' | translate }}</span>
  </div>
}

@if (!dive.hasErrors) {
  @if (dive.calculated && dive.notEnoughGas) {
    <div class="alert alert-danger">
      <fa-icon [icon]="exclamation" class="me-2"></fa-icon>
      @if (dive.showMaxBottomTime) {
        <span>{{ 'diveIssues.notEnoughGasPrefix' | translate }}
          {{ dive.maxTime | number:'1.0-0' }} {{ 'diveIssues.notEnoughGasSuffix' | translate }}</span>
      }
      @if (!dive.showMaxBottomTime) {
        <span>{{ 'diveIssues.notEnoughGasShort' | translate }}</span>
      }
    </div>
  }
  @for (event of events; track event) {
    @if (event.isBrokenCeiling) {
      <div class="alert alert-danger">
        <fa-icon [icon]="exclamation" class="me-2"></fa-icon>
        <strong>{{ event.timeStamp | duration:event.timeStamp
        }} min, {{ event.depth | number:'1.0-0' }} {{units.length}}: </strong>
        <span>{{ 'diveIssues.brokenCeiling' | translate }}</span>
      </div>
    }
    @if (event.isLowPpO2) {
      <div class="alert alert-danger">
        <fa-icon [icon]="exclamation" class="me-2"></fa-icon>
        <strong>{{ event.timeStamp | duration:event.timeStamp
        }} min, {{ event.depth | number:'1.0-0' }} {{units.length}}: </strong>
        <span>{{ 'diveIssues.lowPpo2' | translate }}</span>
      </div>
    }
    @if (event.isHighPpO2) {
      <div class="alert alert-warning">
        <fa-icon [icon]="warning" class="me-2"></fa-icon>
        <strong>{{ event.timeStamp | duration:event.timeStamp
        }} min, {{ event.depth | number:'1.0-0' }} {{units.length}}: </strong>
        <span>{{ 'diveIssues.highPpo2' | translate }}</span>
      </div>
    }
    @if (event.isHighDescentSpeed) {
      <div class="alert alert-warning">
        <fa-icon [icon]="warning" class="me-2"></fa-icon>
        <strong>{{ event.timeStamp | duration:event.timeStamp
        }} min, {{ event.depth | number:'1.0-0' }} {{units.length}}: </strong>
        <span>{{ 'diveIssues.highDescentSpeed' | translate }}</span>
      </div>
    }
    @if (event.isHighAscentSpeed) {
      <div class="alert alert-warning">
        <fa-icon [icon]="warning" class="me-2"></fa-icon>
        <strong>{{ event.timeStamp | duration:event.timeStamp
        }} min, {{ event.depth | number:'1.0-0' }} {{units.length}}: </strong>
        <span>{{ 'diveIssues.highAscentSpeed' | translate }}</span>
      </div>
    }
    @if (event.isHighN2Switch) {
      <div class="alert alert-warning">
        <fa-icon [icon]="warning" class="me-2"></fa-icon>
        <strong>{{ event.timeStamp | duration:event.timeStamp
        }} min, {{ event.depth | number:'1.0-0' }} {{units.length}}: </strong>
        <span>{{ 'diveIssues.highN2Switch' | translate }}</span>
      </div>
    }
    @if (event.isMndExceeded) {
      <div class="alert alert-warning">
        <fa-icon [icon]="warning" class="me-2"></fa-icon>
        <strong>{{ event.timeStamp | duration:event.timeStamp
        }} min, {{ event.depth | number:'1.0-0' }} {{units.length}}: </strong>
        <span>{{ 'diveIssues.mndExceeded' | translate }}</span>
      </div>
    }
    @if (event.isHighDensity) {
      <div class="alert alert-warning">
        <fa-icon [icon]="warning" class="me-2"></fa-icon>
        <strong>{{ event.timeStamp | duration:event.timeStamp
        }} min, {{ event.depth | number:'1.0-0' }} {{units.length}}: </strong>
        <span>{{ 'diveIssues.highDensity' | translate }}</span>
      </div>
    }
    @if (event.isMinDepth) {
      <div class="alert alert-warning">
        <fa-icon [icon]="warning" class="me-2"></fa-icon>
        <strong>{{ event.depth | number:'1.0-0' }} {{units.length}}: </strong>
        <span>{{ 'diveIssues.minDepth' | translate }}</span>
      </div>
    }
    @if (event.isMaxDepth) {
      <div class="alert alert-warning">
        <fa-icon [icon]="warning" class="me-2"></fa-icon>
        <strong>{{ event.depth | number:'1.0-0' }} {{units.length}}: </strong>
        <span>{{ 'diveIssues.maxDepth' | translate }}</span>
      </div>
    }
    @if (event.isMissingAirbreak) {
      <div class="alert alert-warning">
        <fa-icon [icon]="warning" class="me-2"></fa-icon>
        <strong>{{ event.timeStamp | duration:event.timeStamp
        }} min, {{ event.depth | number:'1.0-0' }} {{units.length}}: </strong>
        <span>{{ 'diveIssues.missingAirbreak' | translate }}</span>
      </div>
    }
    @if (event.isNoDeco) {
      <div class="alert alert-info">
        <fa-icon [icon]="info" class="me-2"></fa-icon>
        <strong>{{ event.timeStamp | duration:event.timeStamp
        }} min, {{ event.depth | number:'1.0-0' }} {{units.length}}: </strong>
        <span>{{ 'diveIssues.noDecoPrefix' | translate }}
        {{ noDeco | number:'1.0-0' }} {{ 'diveIssues.noDecoSuffix' | translate }}</span>
      </div>
    }
  }
  @if (dive.diveInfoCalculated && dive.otuExceeded) {
    <div class="alert alert-warning">
      <fa-icon [icon]="warning" class="me-2"></fa-icon>
      <span>{{ 'diveIssues.otuExceededPrefix' | translate }}
        ({{ dive.otu | number:'1.0-0'}}/{{ otuLimit }} OTU)! {{ 'diveIssues.otuExceededSuffix' | translate }}</span>
    </div>
  }
  @if (dive.diveInfoCalculated && dive.cnsExceeded) {
    <div class="alert alert-warning">
      <fa-icon [icon]="warning" class="me-2"></fa-icon>
      <span>{{ 'diveIssues.cnsExceededPrefix' | translate }}
        ({{ dive.cnsWarningLevel | number:'1.0-0'}} %)! {{ 'diveIssues.cnsExceededSuffix' | translate }}</span>
    </div>
  }
}
