<div class="card">
    <div class="card-header">
        <div class="float-start">
            <fa-icon [icon]="icon" class="me-3"></fa-icon>
            <span>Options</span>
        </div>
        <div class="float-end">
            <div class="form-check form-switch">
                <input type="checkbox" class="form-check-input" id="isComplex" [checked]="isComplex"
                    (change)="isComplex = !isComplex" mdbCheckbox />
                <label class="custom-control-label" for="isComplex">Extended (Trimix)</label>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form [formGroup]="optionsForm">
            <div *ngIf="!isComplex">
                <div class="mt-3 row">
                    <div class="mb-4 col col-12 col-sm-6 col-md-4 col-xxl-6">
                        <app-salinity [salinity]="options.salinity" (inputChange)="salinityChanged($event)">
                        </app-salinity>
                    </div>

                    <div class="mb-4 col col-12 col-sm-6 col-md-4 col-xxl-6">
                        <app-altitude [altitude]="options.altitude" (inputChange)="altitudeChanged($event)">
                        </app-altitude>
                    </div>
                    <div class="mb-4 col col-12 col-sm-12 col-md-4 col-xxl-12">
                        <app-gradients [gfLow]="options.gfLow" [gfHigh]="options.gfHigh"
                            (inputChange)="updateGradients($event)" [simple]="true" [showTitle]="true"></app-gradients>
                    </div>
                </div>
            </div>

            <!-- Complex UI only -->
            <div *ngIf="isComplex">
                <mdb-tabs>
                    <mdb-tab title="Environment">
                        <div class="pt-3 row">
                            <div class="mb-4 col col-12 col-sm-6">
                                <app-altitude [altitude]="options.altitude" (inputChange)="altitudeChanged($event)">
                                </app-altitude>
                            </div>
                            <div class="mb-4 col col-12 col-sm-6">
                                <app-salinity [salinity]="options.salinity" (inputChange)="salinityChanged($event)">
                                </app-salinity>
                            </div>
                        </div>
                    </mdb-tab>
                    <mdb-tab title="Conservatism">
                        <div class="pt-3">
                            <app-gradients [gfLow]="options.gfLow" [gfHigh]="options.gfHigh"
                                (inputChange)="updateGradients($event)" [simple]="false" [showTitle]="false">
                            </app-gradients>
                        </div>
                    </mdb-tab>
                    <mdb-tab title="Gases">
                        <div class="pt-3 row">
                            <div class="mb-3 col col-12 col-sm-6">
                                <mdb-form-control>
                                    <input id="maxNarcoticDepth" class="form-control" type="number"
                                        formControlName="maxEND" required [min]="ranges.narcoticDepth[0]"
                                        [max]="ranges.narcoticDepth[1]" step="1" (input)="applyOptions()"
                                        [class.is-invalid]="narcoticDepthInvalid" mdbInput />
                                    <label for="maxNarcoticDepth" class="form-label" mdbLabel>Max narc depth
                                        [{{units.length}}]:</label>
                                </mdb-form-control>
                                <div class="text-danger form-text" *ngIf="narcoticDepthInvalid">
                                    Needs to be number {{ranges.narcoticDepthLabel}}
                                </div>
                            </div>
                            <div class="col col-12 col-sm-6">
                                <div class="form-check form-switch pb-1">
                                    <input type="checkbox" class="form-check-input" id="oxygenNarcotic" mdbCheckbox
                                        [checked]="options.oxygenNarcotic" (change)="switchOxygenNarcotic()" />
                                    <label class="form-check-label" for="roundStops">Oxygen is narcotic</label>
                                </div>
                            </div>
                        </div>
                    </mdb-tab>
                    <mdb-tab title="Stops">
                        <div class="row pt-3">
                            <div class="mb-4 col col-12 col-sm-6 col-md-3 col-xxl-6">
                                <mdb-form-control>
                                    <input id="problem" formControlName="problem" class="form-control" type="number"
                                        (input)="applyOptions()" required [min]="1" [max]="100" min="1" max="100"
                                        step="1" [class.is-invalid]="problemInvalid" mdbInput />
                                    <label for="problem" class="form-label" mdbLabel>Solve problem [min]:</label>
                                </mdb-form-control>
                                <div class="text-danger form-text" *ngIf="problemInvalid">
                                    Needs to be number 1 - 100 mim
                                </div>
                            </div>
                            <div class="mb-4 col col-12 col-sm-6 col-md-3 col-xxl-6">
                                <mdb-form-control>
                                    <input id="switchDuration" formControlName="gasSwitch" class="form-control"
                                        type="number" required min="1" max="10" step="1" (input)="applyOptions()"
                                        [class.is-invalid]="switchDurationInvalid" mdbInput />
                                    <label for="switchDuration" class="form-label" mdbLabel>Gas switch [min]:</label>
                                </mdb-form-control>
                                <div class="text-danger form-text" *ngIf="switchDurationInvalid">
                                    Needs to be number 1 - 10 min
                                </div>
                            </div>
                            <div class="mb-4 col col-12 col-sm-6 col-md-3 col-xxl-6">
                                <div class="input-group dropdown" mdbDropdown>
                                    <mdb-form-control>
                                        <input id="safetyStop" [value]="safetyStopOption" class="form-control"
                                            type="text" [readonly]="true" mdbInput />
                                        <label for="safetyStop" class="form-label" mdbLabel>Add 3 min safety
                                            stop:</label>
                                    </mdb-form-control>
                                    <button type="button" class="btn btn-default dropdown-toggle dropdown-toggle-split"
                                        id="safetyStopMenu" aria-expanded="false" data-mdb-toggle="dropdown"
                                        mdbDropdownToggle></button>
                                    <ul class="dropdown-menu dropdown-menu-end" mdbDropdownMenu>
                                        <li (click)="useSafetyOff()"><a class="dropdown-item">{{safetyOffName}}</a>
                                        </li>
                                        <li (click)="useSafetyAuto()"><a class="dropdown-item">{{safetyAutoName}}</a>
                                        </li>
                                        <li (click)="useSafetyOn()"><a class="dropdown-item">{{safetyOnName}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="mb-4 col col-12 col-sm-6 col-md-3 col-xxl-6">
                                <mdb-form-control>
                                    <input id="lastStop" (input)="applyOptions()" formControlName="lastStopDepth"
                                        class="form-control" type="number" required [min]="ranges.lastStopDepth[0]"
                                        [max]="ranges.lastStopDepth[1]" step="1" [class.is-invalid]="lastStopInvalid"
                                        mdbInput />
                                    <label for="lastStop" class="form-label" mdbLabel>Last stop depth
                                        [{{units.length}}]:</label>
                                </mdb-form-control>
                                <div class="text-danger form-text" *ngIf="lastStopInvalid">
                                    Needs to be number {{ranges.lastStopDepthLabel}}
                                </div>
                            </div>
                            <div class="row ms-2">
                                <div class="form-check form-switch">
                                    <input type="checkbox" class="form-check-input" id="roundStops" mdbCheckbox
                                        [checked]="options.roundStopsToMinutes" (change)="switchStopsRounding()" />
                                    <label class="form-check-label" for="roundStops">Round deco stops to
                                        minutes</label>
                                </div>
                            </div>
                        </div>
                    </mdb-tab>
                    <mdb-tab title="Speeds">
                        <div class="row pt-3">
                            <div class="mb-4 col col-12 col-sm-6 col-lg-3 col-xxl-6">
                                <mdb-form-control>
                                    <input id="descSpeed" formControlName="descentSpeed" class="form-control"
                                        type="number" (input)="applyOptions()" required [min]="ranges.speed[0]"
                                        [max]="ranges.speed[1]" step="1" [class.is-invalid]="descSpeedInvalid"
                                        mdbInput />
                                    <label for="descSpeed" class="form-label" mdbLabel>Descent
                                        [{{units.speed}}]:</label>
                                </mdb-form-control>
                                <div class="text-danger form-text" *ngIf="descSpeedInvalid">
                                    Needs to be number {{ranges.speedLabel}}
                                </div>
                            </div>
                            <div class="mb-4 col col-12 col-sm-6 col-lg-3 col-xxl-6">
                                <mdb-form-control>
                                    <input id="ascSpeed" formControlName="ascentSpeed6m" class="form-control"
                                        type="number" (input)="applyOptions()" required [min]="ranges.speed[0]"
                                        [max]="ranges.speed[1]" step="1" [class.is-invalid]="ascSpeedInvalid"
                                        mdbInput />
                                    <label for="ascSpeed" class="form-label" mdbLabel>Ascent {{units.lastSpeedLevel}}
                                        {{units.length}} to surface [{{units.speed}}]:</label>
                                </mdb-form-control>
                                <div class="text-danger form-text" *ngIf="ascSpeedInvalid">
                                    Needs to be number {{ranges.speedLabel}}
                                </div>
                            </div>
                            <div class="mb-4 col col-12 col-sm-6 col-lg-3 col-xxl-6">
                                <mdb-form-control>
                                    <input id="ascSpeed2" (input)="applyOptions()"
                                        formControlName="ascentSpeed50percTo6m" class="form-control" type="number"
                                        required [min]="ranges.speed[0]" [max]="ranges.speed[1]" step="1"
                                        [class.is-invalid]="ascentSpeed50percTo6mInvalid" mdbInput />
                                    <label for="ascSpeed2" class="form-label" mdbLabel>Ascent to
                                        {{units.lastSpeedLevel}}
                                        {{units.length}} [{{units.speed}}]:</label>
                                </mdb-form-control>
                                <div class="text-danger form-text" *ngIf="ascentSpeed50percTo6mInvalid">
                                    Needs to be number {{ranges.speedLabel}}
                                </div>
                            </div>
                            <div class="mb-4 col col-12 col-sm-6 col-lg-3 col-xxl-6">
                                <mdb-form-control>
                                    <input id="ascSpeed3" formControlName="ascentSpeed50perc" class="form-control"
                                        type="number" (input)="applyOptions()" required [min]="ranges.speed[0]"
                                        [max]="ranges.speed[1]" step="1" [class.is-invalid]="ascentSpeed50percInvalid"
                                        mdbInput />
                                    <label for="ascSpeed3" class="form-label" mdbLabel>Ascent to 50%
                                        [{{units.speed}}]:</label>
                                </mdb-form-control>
                                <div class="text-danger form-text" *ngIf="ascentSpeed50percInvalid">
                                    Needs to be number {{ranges.speedLabel}}
                                </div>
                            </div>
                        </div>
                    </mdb-tab>
                </mdb-tabs>
            </div>
            <div>
                <button type="button" class="btn btn-secondary me-2 mt-3"
                    (click)="useRecreational()">Recreational</button>
                <button type="button" class="btn btn-secondary mt-3" (click)="useRecommended()">Recommended</button>
            </div>
        </form>
    </div>
</div>
