<div class="card">
    <div class="card-header">
        <div class="float-start">
            <fa-icon [icon]="icon" class="me-3"></fa-icon>
            <span>Options</span>
        </div>
        <div class="float-end">
            <div class="form-check form-switch">
                <input type="checkbox" class="form-check-input" id="isComplex" [checked]="isComplex"
                    (change)="isComplex = !isComplex" mdbCheckbox />
                <label class="custom-control-label" for="isComplex">Extended</label>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div *ngIf="!isComplex">
            <div class="mt-3 row">
                <div class="mb-3 col-auto">
                    <label for="conservatism" class="form-label">Conservatism (Gradient factors):</label>
                    <div class="input-group gradients-max-width">
                        <input id="conservatism" [(ngModel)]="conservatism" class="form-control" type="text" readonly />
                        <div ngbDropdown class="input-group-append d-inline-block" placement="bottom-right">
                            <button type="button" class="btn btn-default border" id="conservatismMenu"
                                ngbDropdownToggle></button>
                            <div ngbDropdownMenu aria-labelledby="conservatismMenu" aria-expanded="false">
                                <button type="button" class="dropdown-item"
                                    (click)="lowConservatism()">{{lowName}}</button>
                                <button type="button" class="dropdown-item"
                                    (click)="mediumConservatism()">{{mediumName}}</button>
                                <button type="button" class="dropdown-item"
                                    (click)="highConservatism()">{{highName}}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 col-auto">
                    <label for="gfLow" class="form-label">Water salinity:</label>
                    <div class="input-group gradients-max-width">
                        <input id="salinity" name="salinity" #salinity="ngModel" [ngModel]="salinityOption"
                            class="form-control col-auto" type="text" readonly
                            [class.is-invalid]="salinity.invalid && (salinity.dirty || salinity.touched)" />
                        <div ngbDropdown class="input-group-append d-inline-block" placement="bottom-right">
                            <button type="button" class="btn btn-default border" id="salinityMenu"
                                ngbDropdownToggle></button>
                            <div ngbDropdownMenu aria-labelledby="salinityMenu" aria-expanded="false">
                                <button type="button" class="dropdown-item"
                                    (click)="useFresh()">{{freshName}}</button>
                                <button type="button" class="dropdown-item"
                                    (click)="useBrackish()">{{brackishName}}</button>
                                <button type="button" class="dropdown-item"
                                    (click)="useSalt()">{{saltName}}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 col-auto">
                    <label for="altitude" class="form-label">Altitude [m.a.s.l.]:</label>
                    <input id="altitude" name="altitude" #altitude="ngModel" [(ngModel)]="plannedAltitude"
                        class="form-control col-auto" type="number" required [rangeVal]="[0, 4000]" [minVal]="0"
                        [maxVal]="4000" min="0" max="4000" step="1"
                        [class.is-invalid]="altitude.invalid && (altitude.dirty || altitude.touched)" />
                    <div class="text-danger form-text" *ngIf="altitude.invalid && (altitude.dirty || altitude.touched)">
                        Needs to be number 0 - 4000 m
                    </div>
                </div>
            </div>
        </div>


        <!-- Complex UI only -->
        <div *ngIf="isComplex">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="environment-tab" data-bs-toggle="tab" data-bs-target="#environment"
                        type="button" role="tab" aria-controls="environment" aria-selected="true">Environment</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="conservatism-tab" data-bs-toggle="tab" data-bs-target="#conservatism"
                        type="button" role="tab" aria-controls="conservatism" aria-selected="false">Conservatism</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="gases-tab" data-bs-toggle="tab" data-bs-target="#gases"
                        type="button" role="tab" aria-controls="gases" aria-selected="false">Gases</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="stops-tab" data-bs-toggle="tab" data-bs-target="#stops" type="button"
                        role="tab" aria-controls="stops" aria-selected="false">Stops</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="speeds-tab" data-bs-toggle="tab" data-bs-target="#speeds" type="button"
                        role="tab" aria-controls="speeds" aria-selected="false">Speeds</button>
                </li>
            </ul>

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="environment" role="tabpanel"
                    aria-labelledby="environment-tab">
                    <div class="mt-3">
                        <div class="mb-3">
                            <label for="altitude" class="form-label">Altitude [m.a.s.l.]:</label>
                            <input id="altitude" name="altitude" #altitude="ngModel" [(ngModel)]="plannedAltitude"
                                class="form-control col-auto" type="number" required [rangeVal]="[0, 4000]" [minVal]="0"
                                [maxVal]="4000" step="1" min="0" max="4000"
                                [class.is-invalid]="altitude.invalid && (altitude.dirty || altitude.touched)" />
                            <div class="text-danger form-text"
                                *ngIf="altitude.invalid && (altitude.dirty || altitude.touched)">
                                Needs to be number 0 - 4000 m
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="gfLow" class="form-label">Water salinity:</label>
                            <div class="input-group gradients-max-width">
                                <input id="salinity" name="salinity" #salinity="ngModel" [ngModel]="salinityOption"
                                    class="form-control col-auto" type="text" readonly
                                    [class.is-invalid]="salinity.invalid && (salinity.dirty || salinity.touched)" />
                                <div ngbDropdown class="input-group-append d-inline-block" placement="bottom-right">
                                    <button type="button" class="btn btn-default border" id="salinityMenu"
                                        ngbDropdownToggle></button>
                                    <div ngbDropdownMenu aria-labelledby="salinityMenu" aria-expanded="false">
                                        <button type="button" class="dropdown-item"
                                            (click)="useFresh()">{{freshName}}</button>
                                        <button type="button" class="dropdown-item"
                                            (click)="useBrackish()">{{brackishName}}</button>
                                        <button type="button" class="dropdown-item"
                                            (click)="useSalt()">{{saltName}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="conservatism" role="tabpanel" aria-labelledby="conservatism-tab">
                    <div class="col-sm mt-3">
                        <div class="mb-3">
                            <label for="gfLow" class="form-label">Gradient low: </label>
                            <div class="input-group gradients-max-width">
                                <input id="gfLow" name="gfLow" #gfLow="ngModel" [(ngModel)]="plannedGfLow"
                                    class="form-control col-auto" type="number" required [rangeVal]="[10, 100]"
                                    [minVal]="10" [maxVal]="100" step="1" min="10" max="100"
                                    [class.is-invalid]="gfLow.invalid && (gfLow.dirty || gfLow.touched)" />
                                <div ngbDropdown class="input-group-append d-inline-block" placement="bottom-right">
                                    <button type="button" class="btn btn-default border" id="conservatismMenu2"
                                        ngbDropdownToggle></button>
                                    <div ngbDropdownMenu aria-labelledby="conservatismMenu2" aria-expanded="false">
                                        <button type="button" class="dropdown-item"
                                            (click)="lowConservatism()">{{lowName}}</button>
                                        <button type="button" class="dropdown-item"
                                            (click)="mediumConservatism()">{{mediumName}}</button>
                                        <button type="button" class="dropdown-item"
                                            (click)="highConservatism()">{{highName}}</button>
                                    </div>
                                </div>
                            </div>
                            <div class="text-danger form-text" *ngIf="gfLow.invalid && (gfLow.dirty || gfLow.touched)">
                                Needs to be number 10 - 100 lower than gradient high</div>
                        </div>
                        <div class="mb-3">
                            <label for="gfHigh" class="form-label">Gradient high:</label>
                            <input id="gfHigh" name="gfHigh" #gfHigh="ngModel" [(ngModel)]="plannedGfHigh"
                                class="form-control col-auto" type="number" required [rangeVal]="[10, 100]"
                                [minVal]="10" [maxVal]="100" step="1" min="10" max="100"
                                [class.is-invalid]="gfHigh.invalid && (gfHigh.dirty || gfHigh.touched)" />
                            <div class="text-danger form-text"
                                *ngIf="gfHigh.invalid && (gfHigh.dirty || gfHigh.touched)">
                                Needs to be number 10 - 100 higher than gradient low
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="gases" role="tabpanel" aria-labelledby="gases-tab">
                    <div class="row mt-3">
                        <div class="mb-3 col-auto">
                            <label for="maxNarcoticDepth" class="form-label">Maximum narcotic depth [m]:</label>
                            <input id="maxNarcoticDepth" name="maxNarcoticDepth" #maxNarcoticDepth="ngModel"
                                [(ngModel)]="gasMaxNarcoticDepth" class="form-control col-auto" type="number" required
                                [rangeVal]="[1, 100]" [minVal]="1" [maxVal]="100" step="1" min="1" max="100"
                                [class.is-invalid]="maxNarcoticDepth.invalid && (maxNarcoticDepth.dirty || maxNarcoticDepth.touched)" />
                            <div class="text-danger form-text"
                                *ngIf="maxNarcoticDepth.invalid && (maxNarcoticDepth.dirty || maxNarcoticDepth.touched)">
                                Needs to be number 1 - 100
                            </div>
                        </div>
                        <div class="row ms-4">
                            <div class="form-check form-switch pb-1">
                                <input type="checkbox" class="form-check-input" id="oxygenNarcotic" mdbCheckbox
                                    [checked]="gasOxygenNarcotic" (change)="gasOxygenNarcotic = !gasOxygenNarcotic" />
                                <label class="form-check-label" for="roundStops">Oxygen is narcotic</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="stops" role="tabpanel" aria-labelledby="stops-tab">
                    <div class="row mt-3">
                        <div class="mb-3 col-auto">
                            <label for="problem" class="form-label">Problem solving duration [min]:</label>
                            <input id="problem" name="problem" #problem="ngModel" [(ngModel)]="problemSolvingDuration"
                                class="form-control col-auto" type="number" required [rangeVal]="[1, 100]" [minVal]="1"
                                [maxVal]="100" step="1" min="1" max="100"
                                [class.is-invalid]="problem.invalid && (problem.dirty || problem.touched)" />
                            <div class="text-danger form-text"
                                *ngIf="problem.invalid && (problem.dirty || problem.touched)">
                                Needs to be number 1 - 100 mim
                            </div>
                        </div>
                        <div class="mb-3 col-auto">
                            <label for="switchDuration" class="form-label">Gas switch duration [min]:</label>
                            <input id="switchDuration" name="switchDuration" #switchDuration="ngModel"
                                [(ngModel)]="gasSwitchDuration" class="form-control col-auto" type="number" required
                                [rangeVal]="[1, 10]" [minVal]="1" [maxVal]="10" step="1" min="1" max="10"
                                [class.is-invalid]="switchDuration.invalid && (switchDuration.dirty || switchDuration.touched)" />
                            <div class="text-danger form-text"
                                *ngIf="switchDuration.invalid && (switchDuration.dirty || switchDuration.touched)">
                                Needs to be number 1 - 10
                            </div>
                        </div>
                        <div class="mb-3 col-auto">
                            <label for="safetyStop" class="form-label">Add 3 min safety stop:</label>
                            <div class="input-group gradients-max-width">
                                <input id="safetyStop" name="safetyStop" #safetyStop="ngModel" [ngModel]="safetyStopOption"
                                    class="form-control col-auto" type="text" readonly
                                    [class.is-invalid]="safetyStop.invalid && (safetyStop.dirty || safetyStop.touched)" />
                                <div ngbDropdown class="input-group-append d-inline-block" placement="bottom-right">
                                    <button type="button" class="btn btn-default border" id="safetyStopMenu"
                                        ngbDropdownToggle></button>
                                    <div ngbDropdownMenu aria-labelledby="safetyStopMenu" aria-expanded="false">
                                        <button type="button" class="dropdown-item"
                                            (click)="useSafetyOff()">{{safetyOffName}}</button>
                                        <button type="button" class="dropdown-item"
                                            (click)="useSafetyAuto()">{{safetyAutoName}}</button>
                                        <button type="button" class="dropdown-item"
                                            (click)="useSafetyOn()">{{safetyOnName}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 col-auto">
                            <label for="lastStop" class="form-label">Last stop depth [m]:</label>
                            <input id="lastStop" name="lastStop" #lastStop="ngModel"
                                [(ngModel)]="lastStopDepth" class="form-control col-auto" type="number" required
                                [rangeVal]="[3, 6]" [minVal]="3" [maxVal]="6" step="1" min="3" max="6"
                                [class.is-invalid]="lastStop.invalid && (lastStop.dirty || lastStop.touched)" />
                            <div class="text-danger form-text"
                                *ngIf="lastStop.invalid && (lastStop.dirty || lastStop.touched)">
                                Needs to be number 3 - 6
                            </div>
                        </div>
                        <div class="row ms-4">
                            <div class="form-check form-switch pb-1">
                                <input type="checkbox" class="form-check-input" id="roundStops" mdbCheckbox
                                    [checked]="roundDecoStops" (change)="roundDecoStops = !roundDecoStops" />
                                <label class="form-check-label" for="roundStops">Round deco stops to minutes</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade container" id="speeds" role="tabpanel" aria-labelledby="speeds-tab">
                    <div class="row mt-3">
                        <div class="mb-3 col-auto">
                            <label for="descSpeed" class="form-label">Descent speed [m/min]:</label>
                            <input id="descSpeed" name="descSpeed" #descSpeed="ngModel" [(ngModel)]="descentSpeed"
                                class="form-control col-auto" type="number" required [rangeVal]="[1, 100]" [minVal]="1"
                                [maxVal]="100" step="1" min="1" max="100"
                                [class.is-invalid]="descSpeed.invalid && (descSpeed.dirty || descSpeed.touched)" />
                            <div class="text-danger form-text"
                                *ngIf="descSpeed.invalid && (descSpeed.dirty || descSpeed.touched)">
                                Needs to be number 1 - 100
                            </div>
                        </div>
                        <div class="mb-3 col-auto">
                            <label for="ascSpeed" class="form-label">Ascent 6 m to surface [m/min]:</label>
                            <input id="ascSpeed" name="ascSpeed" #ascSpeed="ngModel" [(ngModel)]="ascentSpeed6m"
                                class="form-control col-auto" type="number" required [rangeVal]="[1, 100]" [minVal]="1"
                                [maxVal]="100" step="1" min="1" max="100"
                                [class.is-invalid]="ascSpeed.invalid && (ascSpeed.dirty || ascSpeed.touched)" />
                            <div class="text-danger form-text"
                                *ngIf="ascSpeed.invalid && (ascSpeed.dirty || ascSpeed.touched)">
                                Needs to be number 1 - 100
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="mb-3 col-auto">
                            <label for="ascSpeed2" class="form-label">Ascent up to 6 m depth [m/min]:</label>
                            <input id="ascSpeed2" name="ascSpeed2" #ascSpeed2="ngModel"
                                [(ngModel)]="ascentSpeed50percTo6m" class="form-control col-auto" type="number" required
                                [rangeVal]="[1, 100]" [minVal]="1" [maxVal]="100" step="1" min="1" max="100"
                                [class.is-invalid]="ascSpeed2.invalid && (ascSpeed2.dirty || ascSpeed2.touched)" />
                            <div class="text-danger form-text"
                                *ngIf="ascSpeed2.invalid && (ascSpeed2.dirty || ascSpeed2.touched)">
                                Needs to be number 1 - 100
                            </div>
                        </div>
                        <div class="mb-3 col-auto">
                            <label for="ascSpeed3" class="form-label">Ascent up to 50% depth [m/min]:</label>
                            <input id="ascSpeed3" name="ascSpeed3" #ascSpeed3="ngModel" [(ngModel)]="ascentSpeed50perc"
                                class="form-control col-auto" type="number" required [rangeVal]="[1, 100]" [minVal]="1"
                                [maxVal]="100" step="1" min="1" max="100"
                                [class.is-invalid]="ascSpeed3.invalid && (ascSpeed3.dirty || ascSpeed3.touched)" />
                            <div class="text-danger form-text"
                                *ngIf="ascSpeed3.invalid && (ascSpeed3.dirty || ascSpeed3.touched)">
                                Needs to be number 1 - 100
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <button type="button" class="btn btn-secondary mx-2 mt-3" (click)="useRecreational()">Recreational</button>
            <button type="button" class="btn btn-secondary mt-3" (click)="useRecommended()">Recommended</button>
        </div>
    </div>
</div>
