<aside
  #helpSidebar
  class="
  sidenav
  bg-white
  shadow-5
  d-flex
  flex-column
  overflow-auto
  w-100
  h-100
  "
  tabindex="-1">

    <header>
        <h4 class="w-100">{{ 'helpSidebar.title' | translate }}</h4>
        <button type="button" class="btn-close" aria-label="{{ 'helpSidebar.close' | translate }}" (click)="close()"></button>
    </header>

    <main>
        <ngx-md [path]="document" [sanitizeHtml]="false"></ngx-md>
    </main>

    <footer>
        <button type="button" class="btn btn-secondary" (click)="close()">
            {{ 'helpSidebar.close' | translate }}
        </button>
    </footer>
</aside>
