<div class="card">
    <div class="card-header">
        <div class="float-start">
            <fa-icon [icon]="tasks" class="me-3"></fa-icon>
            <span>Dive way points</span>
        </div>
    </div>
    <div class="card-body card-minheight table-responsive">
        <table class="table table-sm p-0">
            <thead class="table-light">
            <tr>
                <th colspan="1"></th>
                <th colspan="2" class="fw-bold px-1 text-center">Profile A</th>
                <th colspan="2" class="fw-bold px-1 text-center">Profile B</th>
            </tr>
            <tr>
                <th class="fw-bold px-1">Run [min]</th>
                <th class="fw-bold px-1">Depth [{{units.length}}]</th>
                <th class="fw-bold px-1">Duration [min]</th>
                <th class="fw-bold px-1">Depth [{{units.length}}]</th>
                <th class="fw-bold px-1">Duration [min]</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of waypointRows">
                    <td class="px-1">
                        {{ row.runTime * 1000 | date:'mm:ss' }}
                    </td>
                    <td *ngIf="row.depthA !== undefined; else emptyRow" class="px-1">
                        {{ row.depthA  | number: '1.0-0'}}
                    </td>
                    <td *ngIf="row.durationA !== undefined else emptyRow" class="px-1">
                        {{ row.durationA * 1000 | date: 'mm:ss'}}
                    </td>
                    <td *ngIf="row.depthB !== undefined else emptyRow" class="px-1">
                        {{ row.depthB | number:'1.0-0' }}
                    </td>
                    <td *ngIf="row.durationB !== undefined else emptyRow" class="px-1">
                        {{ row.durationB * 1000 | date: 'mm:ss'}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template #emptyRow><td></td></ng-template>

