@import "node_modules/mdb-angular-ui-kit/assets/scss/free/_variables.scss";
#body {
    margin: 24px;
    flex: 1 1 auto;
}

.card-max-height-md {
    max-height: 450px;
    overflow-y: auto;
}

.card-minheight {
    min-height: 450px;
}

#waypointsDiffTable {
    .vertical-right-border {
        border-right-width: medium;
    }
    .vertical-left-border {
        border-left-width: medium;
    }

    .vertical-borders {
        border-left-width: medium;
        border-right-width: medium;
    }

    tr {
        border-top: hidden;
        border-bottom: hidden;
    }
}
