<div class="card">
    <div class="card-header">
        <div class="float-start">
            <fa-icon [icon]="tasks" class="me-3"></fa-icon>
            <span>Dive way points</span>
        </div>
    </div>
    <div class="card-body card-minheight table-responsive">
        <table class="table table-sm p-0">
            <thead class="table-light">
            <tr>
                <th class="fw-bold px-1">Depth [{{units.length}}] (Profile A)</th>
                <th class="fw-bold px-1">Duration [min] (Profile A)</th>
                <th class="fw-bold px-1">Run [min] (Profile A)</th>
                <th class="fw-bold px-1">Depth [{{units.length}}] (Profile B)</th>
                <th class="fw-bold px-1">Duration [min] (Profile B)</th>
                <th class="fw-bold px-1">Run [min] (Profile B)</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let number of lengthOfLargestProfile()">
                    <td *ngIf="number < this.wayPointsOfProfileA().length" class="px-1">
                        {{ wayPointsOfProfileA()[number].duration / 60  | number :'0.0'}}
                    </td>
                    <td *ngIf="number < this.wayPointsOfProfileA().length" class="px-1">
                        {{ wayPointsOfProfileA()[number].endDepth | number:'1.0-0' }}
                    </td>
                    <td *ngIf="number < this.wayPointsOfProfileA().length" class="px-1">
                        {{ wayPointsOfProfileA()[number].endTime  / 60  | number: '0.0'}}
                    </td>
                    <td *ngIf="number < this.wayPointsOfProfileB().length" class="px-1">
                        {{ wayPointsOfProfileB()[number].duration / 60  | number :'0.0'}}
                    </td>
                    <td *ngIf="number < this.wayPointsOfProfileB().length" class="px-1">
                        {{ wayPointsOfProfileB()[number].endDepth | number:'1.0-0' }}
                    </td>
                    <td *ngIf="number < this.wayPointsOfProfileB().length" class="px-1">
                        {{ wayPointsOfProfileB()[number].endTime  / 60  | number: '0.0'}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

