<div class="row mt-5">
    <div class="col col-sm-8 col-md-6 col-lg-5 col-xl-4 col-xxl-3 mt-3">
        <div class="card">
            <div class="card-header">
                <fa-icon [icon]="calcIcon" class="me-3"></fa-icon>
                <span>Gas mixture</span>
            </div>
            <div class="card-body">
                <form [formGroup]="weightForm">
                    <div>
                        <div class="pt-2 mb-4">
                            Oxygen [%]
                            <!-- <label for="tankSize" class="form-label" mdbLabel>Tank size [{{units.volume}}]:</label>
                           <app-tank-size [sizeForm]="weightForm" [tank]="tank" controlName="tankSize"
                                (sizeChange)="inputChanged()" (applyTemplate)="applyTemplate($event)">
                            </app-tank-size>
                            <div class="text-danger form-text position-absolute" *ngIf="tankSizeInvalid">Needs to be number {{ranges.tankSizeLabel}}</div>-->
                        </div>
                    </div>
                    <div class="pt-2 mb-4">
                        Helium [%]
                        <!-- <label for="workPressure" class="form-label" mdbLabel>Working pressure [{{units.pressure}}]:
                        </label>
                        <input class="form-control" type="number" (input)="inputChanged()" id="workPressure"
                            formControlName="workPressure" required [min]="ranges.tankPressure[0]"
                            [max]="ranges.tankPressure[1]" step="1" [class.is-invalid]="workPressureInvalid" />
                        <div class="invalid-feedback position-absolute">Needs to be number
                            {{ranges.tankPressureLabel}}</div> -->
                    </div>
                    <div class="pt-2 mb-4">
                        Nitrogen [%]
                        <!-- <label for="weight" class="form-label" mdbLabel>Lost weight [{{units.weight}}]:</label>
                        <input class="form-control readonly" name="weight" id="weight" type="number"
                            [readonly]="true" [value]="weight | number: '1.0-2'" readonly /> -->
                    </div>
                    <div class="pt-2 mb-4">
                        Properties at depth [m]
                        <!-- <label for="consumed" class="form-label" mdbLabel>Consumed [{{units.pressure}}]:
                        </label>
                        <input class="form-control" type="number" (input)="inputChanged()" id="consumed"
                            formControlName="consumed" required [min]="ranges.consumed[0]"
                            [max]="ranges.consumed[1]" step="1" [class.is-invalid]="consumedInvalid" />
                        <div class="invalid-feedback position-absolute">Needs to be number
                            {{ranges.consumedLabel}}</div> -->
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col col-12 col-sm-5 col-md-5 col-lg-3 col-xxl-2 mt-3">
        <div class="card ndl-minheight">
            <div class="card-header">
                <fa-icon [icon]="tableIcon" class="me-3"></fa-icon>
                <span>Gas properties</span>
            </div>
            <div class="card-body">
                <table class="table table-sm p-0">
                    <tbody>
                        <tr>
                            <td>Oxygen partial pressure</td>
                            <td class="table-active">00</td>
                        </tr>
                        <tr>
                            <td>Helium partial pressure</td>
                            <td class="table-active">00</td>
                        </tr>
                        <tr>
                            <td>Nitrogen partial pressure</td>
                            <td class="table-active">00</td>
                        </tr>
                        <tr>
                            <td>Total partial pressure</td>
                            <td class="table-active">00</td>
                        </tr>
                        <tr>
                            <td>Minimum depth [m]</td>
                            <td class="table-active">00</td>
                        </tr>
                        <tr>
                            <td>Maximum depth [m]</td>
                            <td class="table-active">00</td>
                        </tr>
                        <tr>
                            <td>Equivalent narcotic depth [m]</td>
                            <td class="table-active">00</td>
                        </tr>
                        <tr>
                            <td>Density [g/l]</td>
                            <td class="table-active">00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group mt-3">
        <button type="button" class="btn btn-primary me-2" (click)="location.back()">Back</button>
    </div>
</div>
