<div class="row mt-5">
    <div class="col col-12 col-sm-5 col-md-4 col-lg-3 col-xxl-2 mt-3">
        <div class="card">
            <div class="card-header">
                <fa-icon [icon]="calcIcon" class="me-3"></fa-icon>
                <span>Gas mixture</span>
            </div>
            <div class="card-body">
                <form [formGroup]="gasForm">
                    <div>
                        <div class="pt-2 mb-4">
                            <app-oxygen-dropdown [tank]="tank" id="o2Item" (gasChange)="inputChanged()"
                            (standardGasApplied)="standardGasApplied()" [nitroxForm]="gasForm"
                            controlName="o2" [showBestMix]="false"
                            [showTrimixGases]="true"></app-oxygen-dropdown>
                        </div>
                    </div>
                    <div class="pt-2 mb-4">
                        <label for="heItem" class="form-label">He [%]:</label>
                                <input formControlName="he" class="form-control" type="number"
                                    (input)="inputChanged()" [min]="ranges.tankHe[0]" [max]="ranges.tankHe[1]" step="1"
                                    required [class.is-invalid]="gasHeInvalid" id="heItem" />
                                <div class="text-danger" *ngIf="gasHeInvalid">Needs to be number
                                    {{ranges.tankHeLabel}}</div>
                    </div>
                    <div class="pt-2 mb-4">
                        <label for="nitrox" class="form-label" mdbLabel>Nitrogen [%]:</label>
                        <input class="form-control readonly" name="nitrox" id="nitrox" type="number"
                            [readonly]="true" [value]="nitrox | number: '1.0-2'" readonly />
                    </div>
                    <div class="pt-2 mb-4">
                        <label for="depth" class="form-label" mdbLabel>Properties at depth [{{units.length}}]:
                        </label>
                        <input class="form-control" type="number" (input)="inputChanged()" id="depth"
                            formControlName="depth" required [min]="ranges.depth[0]"
                            [max]="ranges.depth[1]" step="1" [class.is-invalid]="depthInvalid" />
                        <div class="invalid-feedback position-absolute">Needs to be number
                            {{ranges.depth}}</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col col-12 col-sm-7 col-md-5 col-lg-4 col-xxl-3 mt-3">
        <div class="card">
            <div class="card-header">
                <fa-icon [icon]="tableIcon" class="me-3"></fa-icon>
                <span>Gas properties</span>
            </div>
            <div class="card-body">
                <table class="table table-sm p-0">
                    <tbody>
                        <tr>
                            <td>Oxygen partial pressure</td>
                            <td class="table-active">{{ calc.ppO2 | number: '1.0-2' }}</td>
                        </tr>
                        <tr>
                            <td>Helium partial pressure</td>
                            <td class="table-active">{{ calc.ppHe | number: '1.0-2'}}</td>
                        </tr>
                        <tr>
                            <td>Nitrogen partial pressure</td>
                            <td class="table-active">{{ calc.ppN2 | number: '1.0-2' }}</td>
                        </tr>
                        <tr>
                            <td>Total partial pressure</td>
                            <td class="table-active">{{ calc.totalPp | number: '1.0-2' }}</td>
                        </tr>
                        <tr>
                            <td>Minimum depth [m]</td>
                            <td class="table-active">{{ calc.minDepth  | number: '1.0-1' }}</td>
                        </tr>
                        <tr>
                            <td>Maximum depth [m]</td>
                            <td class="table-active">{{ calc.maxDepth  | number: '1.0-1' }}</td>
                        </tr>
                        <tr>
                            <td>Equivalent narcotic depth [m]</td>
                            <td class="table-active">{{ calc.end  | number: '1.0-1' }}</td>
                        </tr>
                        <tr>
                            <td>Maximum narcotic depth [m]</td>
                            <td class="table-active">{{ calc.maxDepth  | number: '1.0-1' }}</td>
                        </tr>
                        <tr>
                            <td>Density [g/l]</td>
                            <td class="table-active">{{ calc.density  | number: '1.0-2' }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group mt-3">
        <button type="button" class="btn btn-primary me-2" (click)="location.back()">Back</button>
    </div>
</div>
