<div class="row mt-5">
    <div class="col col-lg-4 col-md-6 mt-3">
        <div class="card">
            <div class="card-header">
                <fa-icon [icon]="calcIcon" class="me-3"></fa-icon>
                <span>Nitrox calculator</span>
            </div>
            <div class="card-body">
                <form [formGroup]="nitroxForm">
                    <div class="my-3">This calculator uses simple depth conversion (where 1 ATM = 1 bar), so the
                        values shown here are less precise, than in rest of the application.</div>
                    <div class="btn-group mb-3" role="group">
                        <button type="button" class="btn" [class.btn-primary]="calc.inMod"
                            (click)="calc.toMod()">MOD</button>
                        <button type="button" class="btn" [class.btn-primary]="calc.inBestMix"
                            (click)="calc.toBestMix()">Best mix</button>
                        <button type="button" class="btn" [class.btn-primary]="calc.inPO2"
                            (click)="calc.toPO2()">ppO2</button>
                    </div>
                    <div [hidden]="calc.inPO2" class="pt-2 mb-4">
                        <mdb-form-control>
                            <input class="form-control" name="pO2" id="pO2" type="number" formControlName="pO2"
                                (input)="inputChanged()" [min]="ranges.ppO2[0]" [max]="ranges.ppO2[1]" step="0.1"
                                mdbInput mdbValidate />
                            <label for="pO2" class="form-label" mdbLabel>ppO2:</label>
                            <mdb-error *ngIf="pO2Invalid">Needs to be number 0.21-3</mdb-error>
                        </mdb-form-control>
                    </div>
                    <div [hidden]="calc.inBestMix" class="pt-2 mb-4">
                        <mdb-form-control>
                            <input class="form-control" name="fO2" id="fO2" type="number" formControlName="fO2"
                                (input)="inputChanged()" [min]="ranges.nitroxOxygen[0]" [max]="ranges.nitroxOxygen[1]"
                                step="1" mdbInput mdbValidate />
                            <label for="fO2" class="form-label" mdbLabel>Percent O2:</label>
                            <mdb-error *ngIf="fO2Invalid">Needs to be number {{ranges.nitroxOxygenLabel}}
                            </mdb-error>
                        </mdb-form-control>
                    </div>
                    <div [hidden]="calc.inMod" class="pt-2 mb-4">
                        <mdb-form-control>
                            <input class="form-control" name="mod" id="mod" type="number" formControlName="mod"
                                (input)="inputChanged()" [min]="ranges.depth[0]" [max]="ranges.depth[1]" step="1"
                                aria-describedby="eadDescribe" mdbInput mdbValidate />
                            <label for="mod" class="form-label" mdbLabel>MOD [{{units.length}}]:</label>
                            <mdb-error class="text-danger" *ngIf="modInvalid">Needs to be number
                                {{ranges.depthLabel}}</mdb-error>
                        </mdb-form-control>
                        <div id="eadDescribe" class="form-text" [style.visibility]="modInvalid ? 'hidden' : 'visible'">
                            EAD: {{ ead | number: '1.0-1' }}
                            {{units.length}}</div>
                    </div>
                    <div [hidden]="!calc.inMod" class="pt-2 mb-4">
                        <mdb-form-control>
                            <input class="form-control" formControlName="mod" [readonly]="true" mdbInput />
                            <label for="mod" class="form-label" mdbLabel>MOD [{{units.length}}]:</label>
                        </mdb-form-control>
                        <small class="form-text text-muted">EAD: {{ ead | number: '1.0-1' }}
                            {{units.length}}</small>
                    </div>
                    <div [hidden]="!calc.inBestMix" class="pt-2 mb-4">
                        <mdb-form-control>
                            <input class="form-control" formControlName="fO2" [readonly]="true" mdbInput />
                            <label for="fO2" class="form-label" mdbLabel>Percent O2:</label>
                        </mdb-form-control>
                    </div>
                    <div [hidden]="!calc.inPO2" class="pt-2 mb-4">
                        <mdb-form-control>
                            <input class="form-control" formControlName="pO2" [readonly]="true" mdbInput />
                            <label for="pO2" class="form-label" mdbLabel>ppO2:</label>
                        </mdb-form-control>
                    </div>
                </form>
            </div>
        </div>
        <div class="form-group mt-3">
            <button type="button" class="btn btn-primary me-2" (click)="goBack()">Back</button>
            <button type="button" class="btn btn-secondary" (click)="use()">Use</button>
        </div>
    </div>
</div>
