<div class="row mt-5">
    <div class="col col-sm-8 col-md-6 col-lg-5 col-xl-4 col-xxl-3 mt-3">
        <div class="card">
            <div class="card-header">
                <fa-icon [icon]="calcIcon" class="me-3"></fa-icon>
                <span>Nitrox calculator</span>
            </div>
            <div class="card-body">
                <form [formGroup]="nitroxForm">
                    <div class="mb-4">{{ depthConverterWarning }}</div>
                    <div class="btn-group mb-3" role="group">
                        <button type="button" class="btn" [class.btn-primary]="calc.inMod"
                            (click)="toMod()">MOD</button>
                        <button type="button" class="btn" [class.btn-primary]="calc.inBestMix"
                            (click)="toBestMix()">Best mix</button>
                        <button type="button" class="btn" [class.btn-primary]="calc.inPO2"
                            (click)="toPO2()">ppO2</button>
                    </div>
                    <ng-container *ngIf="!calc.inPO2">
                        <div class="pt-2 mb-4">
                            <label for="pO2" class="form-label" mdbLabel>ppO2:</label>
                            <input class="form-control" name="pO2" id="pO2" type="number" formControlName="pO2"
                                (input)="inputChanged()" [min]="ranges.ppO2[0]" [max]="ranges.ppO2[1]" step="0.1"
                                [class.is-invalid]="pO2Invalid" />
                            <div class="invalid-feedback position-absolute">Needs to be number 0.21-3
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="!calc.inBestMix">
                        <div class="pt-2 mb-4">
                            <app-oxygen-dropdown [showBestMix]="false" (gasChange)="inputChanged()"
                                (standardGasApplied)="inputChanged()" [nitroxForm]="nitroxForm"
                                controlName="fO2"></app-oxygen-dropdown>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="!calc.inMod">
                        <div class="pt-2 mb-4">
                            <label for="mod" class="form-label" mdbLabel>MOD [{{units.length}}]:</label>
                            <input class="form-control" name="mod" id="mod" type="number" formControlName="mod"
                                (input)="inputChanged()" [min]="ranges.depth[0]" [max]="ranges.depth[1]" step="1"
                                aria-describedby="eadDescribe" [class.is-invalid]="modInvalid" />
                            <div class="invalid-feedback position-absolute">Needs to
                                be number {{ranges.depthLabel}}</div>
                            <div id="eadDescribe" class="form-text" [class.invisible]="modInvalid">
                                EAD: {{ ead | number: '1.0-1' }} {{units.length}}</div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="calc.inMod">
                        <div class="pt-2 mb-4">
                            <label for="mod" class="form-label" mdbLabel>MOD [{{units.length}}]:</label>
                            <input class="form-control" [readonly]="true" [value]="calcMod | number: '1.0-1'"
                                id="mod" />
                            <small class="form-text text-muted">EAD: {{ ead | number: '1.0-1' }}
                                {{units.length}}</small>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="calc.inBestMix">
                        <div class="pt-2 mb-4">
                            <label for="fO2" class="form-label" mdbLabel>Percent O2:</label>
                            <input class="form-control" [readonly]="true" [value]="calc.fO2 | number: '1.0-1'"
                                id="fO2" />
                        </div>
                    </ng-container>
                    <ng-container *ngIf="calc.inPO2">
                        <div class="pt-2 mb-4">
                            <label for="pO2" class="form-label" mdbLabel>ppO2:</label>
                            <input class="form-control" [readonly]="true" [value]="calc.pO2 | number: '1.0-2'"
                                id="pO2" />
                        </div>
                    </ng-container>
                    <div class="pt-2 pb-4 pe-3 mb-4">
                        <ng-container *ngIf="nitroxForm.errors?.lowMod">
                            <div class="text-danger form-text position-absolute">
                                Too small final operation depth. Increase ppO2 or reduce Percent O2.
                            </div>
                        </ng-container>
                    </div>
                </form>
            </div>
        </div>
        <div class="form-group mt-3">
            <button type="button" class="btn btn-primary me-2" (click)="goBack()">Back</button>
            <button type="button" class="btn btn-secondary" (click)="use()" *ngIf="!nitroxForm.invalid">Use</button>
        </div>
    </div>
</div>
