<div class="mt-5">
  <div class="row">
    <div class="col-lg-3 col-md-6 mt-3">
      <div class="card">
        <div class="card-header">
          <fa-icon [icon]="calcIcon" class="me-3"></fa-icon>
          <span>Nitrox calculator</span>
        </div>
        <div class="card-body">
          <div class="my-3">This calculator uses simple depth conversion, so the values shown here are less precise, than in rest of the application.</div>
          <div class="btn-group" role="group">
            <button type="button" class="btn" [class.btn-primary]="inMod" (click)="toMod()">MOD</button>
            <button type="button" class="btn" [class.btn-primary]="inBestMix" (click)="toBestMix()">Best mix</button>
            <button type="button" class="btn" [class.btn-primary]="inPO2" (click)="toPO2()">ppO2</button>
          </div>
          <div [hidden]="inPO2" class="my-2">
            <label for="pO2">ppO2 [{{units.pressure}}]:
              <input [(ngModel)]="calc.pO2" class="form-control" #pO2="ngModel" name="pO2" id="pO2" type="number"
                required [rangeVal]="[0.21,3]"  [minVal]="0.21" [maxVal]="3" min="0.21" max="3" step="0.1"
                [class.is-invalid]="pO2.invalid && (pO2.dirty || pO2.touched)" />
            </label>
            <div class="text-danger" *ngIf="pO2.invalid && (pO2.dirty || pO2.touched)">Needs to be number 0.21-3 {{units.pressure}}</div>
          </div>
          <div [hidden]="inBestMix" class="my-2">
            <label for="fO2">Percent O2:
              <input [(ngModel)]="calc.fO2" class="form-control" #fO2="ngModel" name="fO2" id="fO2" type="number"
                 required [rangeVal]="[21,100]" [minVal]="21" [maxVal]="100" min="21" max="100" step="1"
                 [class.is-invalid]="fO2.invalid && (fO2.dirty || fO2.touched)" />
            </label>
            <div class="text-danger" *ngIf="fO2.invalid && (fO2.dirty || fO2.touched)">Needs to be number 21-100 %</div>
          </div>
          <div [hidden]="inMod" class="my-2">
            <label for="mod">MOD [{{units.length}}]:
              <input [(ngModel)]="calc.mod" class="form-control" #mod="ngModel" name="mod" id="mod" type="number"
                 required [rangeVal]="[1,350]" [minVal]="1" [maxVal]="350" min="1" max="350" step="1"
                 [class.is-invalid]="mod.invalid && (mod.dirty || mod.touched)" />
                <small class="form-text text-muted">EAD: {{calc.ead}} {{units.length}}</small>
            </label>
            <div class="text-danger" *ngIf="mod.invalid && (mod.dirty || mod.touched)">Needs to be number 3-350 {{units.length}}</div>
          </div>
          <div [hidden]="!inMod" class="my-2">
            <label for="mod">MOD [{{units.length}}]:
              <input [ngModel]="calc.mod" class="form-control" readonly/>
              <small class="form-text text-muted">EAD: {{calc.ead}} {{units.length}}</small>
            </label>
          </div>
          <div [hidden]="!inBestMix" class="my-2">
              <label for="mod">Percent O2:
                <input [ngModel]="calc.fO2" class="form-control" readonly/>
              </label>
          </div>
          <div [hidden]="!inPO2" class="my-2">
              <label for="mod">ppO2 [{{units.pressure}}]:
                <input [ngModel]="calc.pO2" class="form-control" readonly/>
              </label>
          </div>
        </div>
      </div>
      <div class="form-group mt-2">
        <button type="button" class="btn btn-secondary me-2" (click)="use()">Use</button>
        <button type="button" class="btn btn-primary" (click)="goBack()">Back</button>
      </div>
    </div>
  </div>
</div>
