<div class="card">
    <div class="card-header">
        <div class="float-start">
            <fa-icon [icon]="profileIcon" class="me-3" flip="vertical">></fa-icon>
            <span>Profile chart</span>
        </div>
        <div class="float-end me-1">
            <button *ngIf="heatMapEnabled" class="btn btn-sm btn-secondary" [ngClass]="{ 'active': showHeatMap }" type="button"
                    data-toggle="button" [attr.aria-pressed]="showHeatMap" autocomplete="off" (click)="switchHeatMap()">
                <fa-icon [icon]="heatmapIcon" class="fa-lg"></fa-icon>
            </button>
        </div>
    </div>
    <div class="card-body card-minheight">
        <app-calculating [show]="!infoCalculated"></app-calculating>
        <div id="diveplot" class="dive-plot" [ngClass]="{
              'plot-display': profileCalculated,
              'plot-hidden': !profileCalculated
            }">
        </div>
        <div id="heatmapplot" class="heatmap-plot" [ngClass]="{
            'plot-display': profileCalculated,
            'plot-hidden': !profileCalculated || !showHeatMap
          }">
        </div>
    </div>
</div>
