<app-calculating [show]="!profilesDiff.bothResultsCalculated"></app-calculating>

<table *ngIf="profilesDiff.bothResultsCalculated" class="table table-sm">
    <tbody>
    <tr id="table-header">
        <td></td>
        <td>
            <div class="d-flex justify-content-center align-items-center">
                <strong>
                    <div class="profile-title">Profile A</div>
                    <div>{{profilesDiff.profileATitle}}</div>
                </strong>
            </div>
        </td>
        <td>
            <div class="d-flex justify-content-center align-items-center">
                <strong>
                    <div class="profile-title">Profile B</div>
                    <div>{{profilesDiff.profileBTitle}}</div>
                </strong>
            </div>
        </td>
        <td>
            <div class="d-flex justify-content-center align-items-center">
                <strong>
                    <div class="profile-title"><br/></div>
                    <div>Difference</div>
                </strong>
            </div>
        </td>
    </tr>
    <tr>
        <td>Total dive time [min]:</td>
        <td>
            <div>
                {{ profileA.totalDuration | duration:profileA.totalDuration}}
            </div>
        </td>
        <td>
            <div>
                {{ profileB.totalDuration | duration:profileB.totalDuration}}
            </div>
        </td>
        <td class="table-active">
            <div class="delta d-flex justify-content-between align-items-center">
                <strong>
                    {{ totalDurationDifference | duration:totalDurationDifference}}
                </strong>
                <fa-icon [icon]="getArrow(totalDurationDifference)"/>
            </div>
        </td>
    </tr>
    <tr>
        <td>Time to surface [min]:</td>
        <td>
            <div>
                {{ profileA.timeToSurface | number:'1.0-0' }}
            </div>
        </td>
        <td>
            <div>
                {{ profileB.timeToSurface | number:'1.0-0' }}
            </div>
        </td>
        <td class="{{getBgColor('timeToSurface', timeToSurfaceDifference)}}">
            <div class="delta d-flex justify-content-between align-items-center">
                <strong>
                    {{ timeToSurfaceDifference | number:'1.0-0' }}
                </strong>
                <fa-icon [icon] ="getArrow(timeToSurfaceDifference)"/>
            </div>
        </td>
    </tr>
    <tr>
        <td>Average depth [{{units.length}}]:</td>
        <td>
            <div>
                {{ averageDepthOfProfile(profileA) | number:'1.0-1' }}
            </div>
        </td>
        <td>
            <div>
                {{ averageDepthOfProfile(profileB) | number:'1.0-1' }}
            </div>
        </td>
        <td class="{{getBgColor('averageDepth', averageDepthDifference)}}">
            <div class="delta d-flex justify-content-between align-items-center">
                <strong>
                    {{ averageDepthDifference | number:'1.0-1' }}
                </strong>
                <fa-icon [icon] ="getArrow(averageDepthDifference)"/>
            </div>
        </td>
    </tr>
    <tr>
        <td>Rock bottom at [min]:</td>
        <td>
            <div>
                {{ profileA.emergencyAscentStart | duration:profileA.emergencyAscentStart }}
            </div>
        </td>
        <td>
            <div>
                {{ profileB.emergencyAscentStart | duration:profileB.emergencyAscentStart }}
            </div>
        </td>

        <td class="table-active">
            <div class="delta d-flex justify-content-between align-items-center">
                <strong>
                {{ emergencyAscentStartDifference | duration:emergencyAscentStartDifference}}
                </strong>
                <fa-icon [icon] ="getArrow(emergencyAscentStartDifference)"/>
            </div>
        </td>
    </tr>
    <tr>
        <td>No decompression time [min]:</td>
        <td>
            <div *ngIf="areDiveInfosCalculated">
                {{ noDecoOfProfile(profileA) | number:'1.0-0' }}
            </div>
        </td>
        <td>
            <div *ngIf="areDiveInfosCalculated">
                {{ noDecoOfProfile(profileB) | number:'1.0-0' }}
            </div>
        </td>
        <td *ngIf="areDiveInfosCalculated" class="{{getBgColor('noDeco', noDecoDifference)}}">
            <div class="delta d-flex justify-content-between align-items-center">
                <strong>
                    {{ noDecoDifference | number:'1.0-0' }}
                </strong>
                <fa-icon [icon] ="getArrow(noDecoDifference)"/>
            </div>
        </td>
    </tr>
    <tr *ngIf="showMaxBottomTimeOfProfile">
        <td>Maximum bottom time [min]:</td>
        <td>
            <div>
                {{ profileA.maxTime | number:'1.0-0' }}
            </div>
        </td>
        <td>
            <div>
                {{ profileB.maxTime | number:'1.0-0' }}
            </div>
        </td>
        <td class="{{getBgColor('maxTime', maxTimeDifference)}}">
            <div class="delta d-flex justify-content-between align-items-center">
                <strong>
                    {{ maxTimeDifference | number:'1.0-0' }}
                </strong>
                <fa-icon [icon] ="getArrow(maxTimeDifference)"/>
            </div>
        </td>
    </tr>
    <tr *ngIf="viewSwitch.isComplex">
        <td>Highest gas density [{{units.density}}]:</td>
        <td>
            <div>
                {{ highestDensityOfProfile(profileA) | number:'1.0-2' }}
                <br>
                ({{densityTextOfProfile(profileA)}})
            </div>
        </td>
        <td>
            <div>
                {{ highestDensityOfProfile(profileB) | number:'1.0-2' }}
                <br>
                ({{densityTextOfProfile(profileB)}})
            </div>
        </td>
        <td class="{{getBgColor('highestDensity', highestDensityDifference)}}">
            <div class="delta d-flex justify-content-between align-items-center">
                <strong>
                    {{ highestDensityDifference | number:'1.0-2' }}
                </strong>
                <fa-icon [icon] ="getArrow(highestDensityDifference)"/>
            </div>
        </td>
    </tr>
    <tr *ngIf="areProfilesCalculated">
        <td>OTU toxicity [OTU]:</td>
        <td>
            <div>
                {{ profileA.otu | number:'1.0-0' }}
            </div>
        </td>
        <td>
            <div>
                {{ profileB.otu | number:'1.0-0' }}
            </div>
        </td>
        <td class="{{getBgColor('otu', otuDifference)}}">
            <div class="delta d-flex justify-content-between align-items-center">
                <strong>
                    {{ otuDifference | number:'1.0-0' }}
                </strong>
                <fa-icon [icon] ="getArrow(otuDifference)"/>
            </div>
        </td>
    </tr>
    <tr *ngIf="areProfilesCalculated">
        <td>CNS toxicity [%]:</td>
        <td>
            <div>
                {{cnsTextOfProfile(profileA)}}
            </div>
        </td>
        <td>
            <div>
                {{cnsTextOfProfile(profileB)}}
            </div>
        </td>
        <td class="{{getBgColor('cns', cnsDifference)}}">
            <div class="delta d-flex justify-content-between align-items-center">
                <strong>
                    {{ cnsDifferenceText }}
                </strong>
                <fa-icon [icon] ="getArrow(cnsDifference)"/>
            </div>
        </td>
    </tr>
    </tbody>
</table>
