<app-calculating [show]="!profilesDiff.bothResultsCalculated"></app-calculating>

<table *ngIf="profilesDiff.bothResultsCalculated" class="table table-sm">
    <tbody>
    <tr id="table-header">
        <td></td>
        <td>
            <div class="d-flex justify-content-center align-items-center">
                <strong>
                    <div class="profile-title">Profile A</div>
                    <div>{{profilesDiff.profileATitle}}</div>
                </strong>
            </div>
        </td>
        <td>
            <div class="d-flex justify-content-center align-items-center">
                <strong>
                    <div class="profile-title">Profile B</div>
                    <div>{{profilesDiff.profileBTitle}}</div>
                </strong>
            </div>
        </td>
        <td>
            <div class="d-flex justify-content-center align-items-center">
                <strong>
                    <div class="profile-title"><br/></div>
                    <div>Difference</div>
                </strong>
            </div>
        </td>
    </tr>
    <tr>
        <td>Total dive time [min]:</td>
        <td>
            <div>
                {{ diff.totalDuration.valueA | duration:profileA.totalDuration}}
            </div>
        </td>
        <td>
            <div>
                {{ diff.totalDuration.valueB | duration:profileB.totalDuration}}
            </div>
        </td>
        <td class="table-active">
            <div class="delta d-flex justify-content-between align-items-center">
                <strong>
                    {{ diff.totalDuration.difference | duration:diff.totalDuration.difference}}
                </strong>
                <fa-icon [icon]="diff.totalDuration.arrow"/>
            </div>
        </td>
    </tr>
    <tr>
        <td>Time to surface [min]:</td>
        <td>
            <div>
                {{ diff.timeToSurface.valueA | number:'1.0-0' }}
            </div>
        </td>
        <td>
            <div>
                {{ diff.timeToSurface.valueB | number:'1.0-0' }}
            </div>
        </td>
        <td class="{{diff.timeToSurface.bgColor}}">
            <div class="delta d-flex justify-content-between align-items-center">
                <strong>
                    {{ diff.timeToSurface.difference | number:'1.0-0' }}
                </strong>
                <fa-icon [icon] ="diff.timeToSurface.arrow"/>
            </div>
        </td>
    </tr>
    <tr>
        <td>Average depth [{{units.length}}]:</td>
        <td>
            <div>
                {{ diff.averageDepth.valueA | number:'1.0-1' }}
            </div>
        </td>
        <td>
            <div>
                {{ diff.averageDepth.valueB | number:'1.0-1' }}
            </div>
        </td>
        <td class="{{diff.averageDepth.bgColor}}">
            <div class="delta d-flex justify-content-between align-items-center">
                <strong>
                    {{ diff.averageDepth.difference | number:'1.0-1' }}
                </strong>
                <fa-icon [icon] ="diff.averageDepth.arrow"/>
            </div>
        </td>
    </tr>
    <tr>
        <td>Rock bottom at [min]:</td>
        <td>
            <div>
                {{ diff.emergencyAscentStart.valueA | duration:profileA.emergencyAscentStart }}
            </div>
        </td>
        <td>
            <div>
                {{ diff.emergencyAscentStart.valueB | duration:profileB.emergencyAscentStart }}
            </div>
        </td>

        <td class="table-active">
            <div class="delta d-flex justify-content-between align-items-center">
                <strong>
                {{ diff.emergencyAscentStart.difference | duration:diff.emergencyAscentStart.difference}}
                </strong>
                <fa-icon [icon] ="diff.emergencyAscentStart.arrow"/>
            </div>
        </td>
    </tr>
    <tr *ngIf="diveInfosCalculated">
        <td>No decompression time [min]:</td>
        <td>
            <div>
                {{ diff.noDeco.valueA | number:'1.0-0' }}
            </div>
        </td>
        <td>
            <div>
                {{ diff.noDeco.valueB | number:'1.0-0' }}
            </div>
        </td>
        <td class="{{diff.noDeco.bgColor}}">
            <div class="delta d-flex justify-content-between align-items-center">
                <strong>
                    {{ diff.noDeco.difference | number:'1.0-0' }}
                </strong>
                <fa-icon [icon] ="diff.noDeco.arrow"/>
            </div>
        </td>
    </tr>
    <tr *ngIf="diff.showMaxBottomTime">
        <td>Maximum bottom time [min]:</td>
        <td>
            <div>
                {{ diff.maxTime.valueA | number:'1.0-0' }}
            </div>
        </td>
        <td>
            <div>
                {{ diff.maxTime.valueB | number:'1.0-0' }}
            </div>
        </td>
        <td class="{{diff.maxTime.bgColor}}">
            <div class="delta d-flex justify-content-between align-items-center">
                <strong>
                    {{ diff.maxTime.difference | number:'1.0-0' }}
                </strong>
                <fa-icon [icon] ="diff.maxTime.arrow"/>
            </div>
        </td>
    </tr>
    <tr *ngIf="viewSwitch.isComplex">
        <td>Highest gas density [{{units.density}}]:</td>
        <td>
            <div>
                {{ diff.highestDensity.valueA | number:'1.0-2' }}
                <br>
                ({{diff.densityGasA}})
            </div>
        </td>
        <td>
            <div>
                {{ diff.highestDensity.valueB | number:'1.0-2' }}
                <br>
                ({{diff.densityGasB}})
            </div>
        </td>
        <td class="{{diff.highestDensity.bgColor}}">
            <div class="delta d-flex justify-content-between align-items-center">
                <strong>
                    {{ diff.highestDensity.difference | number:'1.0-2' }}
                </strong>
                <fa-icon [icon] ="diff.highestDensity.arrow"/>
            </div>
        </td>
    </tr>
    <tr *ngIf="areProfilesCalculated">
        <td>OTU toxicity [OTU]:</td>
        <td>
            <div>
                {{ diff.otu.valueA | number:'1.0-0' }}
            </div>
        </td>
        <td>
            <div>
                {{ diff.otu.valueB | number:'1.0-0' }}
            </div>
        </td>
        <td class="{{diff.otu.bgColor}}">
            <div class="delta d-flex justify-content-between align-items-center">
                <strong>
                    {{ diff.otu.difference | number:'1.0-0' }}
                </strong>
                <fa-icon [icon] ="diff.otu.arrow"/>
            </div>
        </td>
    </tr>
    <tr *ngIf="areProfilesCalculated">
        <td>CNS toxicity [%]:</td>
        <td>
            <div>
                {{diff.cnsA}}
            </div>
        </td>
        <td>
            <div>
                {{diff.cnsB}}
            </div>
        </td>
        <td class="{{diff.cns.bgColor}}">
            <div class="delta d-flex justify-content-between align-items-center">
                <strong>
                    {{ diff.cnsDifference | number:'1.0-0' }}
                </strong>
                <fa-icon [icon] ="diff.cns.arrow"/>
            </div>
        </td>
    </tr>
    </tbody>
</table>
