<div class="mt-2">
    <mdb-tabs (activeTabChange)="selectedChanged($event)" #tabs [pills]="true">
        <mdb-tab *ngFor="let dive of this.schedule.dives; let i = index">
            <ng-template mdbTabTitle>
                <div class="d-flex align-items-center">
                    <div class="justifycontent-center">{{dive.title}}</div>
                    <button *ngIf="schedule.empty" type="button" class="btn-close ms-2" aria-label="Close" (click)="closeTab(dive)"></button>
                </div>
            </ng-template>
        </mdb-tab>
        <mdb-tab>
            <ng-template mdbTabTitle>
                <fa-icon [icon]="addIcon" class="p-0 m-0 fa-xl" (click)="addTab()"></fa-icon>
            </ng-template>
        </mdb-tab>
    </mdb-tabs>
</div>
<div>{{selected.title}}</div>
