<div class="card">
  <div class="card-header ">
    Gases
  </div>
  <div class="card-body">
    <!-- <button (click)="add()">+</button> -->
    <div *ngFor="let gas of gases.current">
      <div class="form-group">
        <label for="size">Size [L]:
          <input id="size" [(ngModel)]="gas.size" placeholder="15" class="form-control" type="number" min="0" max="50" required/>
        </label>
      </div>
      <div class="form-group">
        <label for="startPressure">Start pressure [bar]:
          <input id="startPressure" [(ngModel)]="gas.startPressure" placeholder="200" class="form-control" type="number" min="0" max="350" required/>
        </label>
      </div>
      <div class="form-group">
          <label for="ppO2">Percent O2:
            <input id="ppO2" [(ngModel)]="gas.o2" placeholder="200" class="form-control" type="number" min="21" max="100" required/>
          </label>
        </div>
      <!-- <button (click)="remove(gas)">-</button> -->
    </div>
  </div>
</div>
