<div class="card">
  <div class="card-header ">
    Bottom gas
  </div>
  <div class="card-body">
      <div class="form-group">
        <label for="size">Size [L]:
          <input #size="ngModel" name="size" [(ngModel)]="gas.size" class="form-control" type="number"
            (input)="this.validate.emit(null);"
            min="1" max="50" required [class.is-invalid]="size.invalid && (size.dirty || size.touched)"/>
          <small class="form-text text-muted">SAC: {{gasSac(gas) | number:'1.2'}} bar/min.</small>
          <div class="text-danger" *ngIf="size.invalid && (size.dirty || size.touched)">Needs to be number 1-50 L</div>
        </label>
      </div>
      <div class="form-group">
        <label for="startPressure">Start pressure [bar]:
          <input id="startPressure" name="startPressure" [(ngModel)]="gas.startPressure" placeholder="200" class="form-control" type="number" min="0" max="350"
            required/>
        </label>
      </div>
      <div class="form-group">
        <label for="ppO2">Percent O2:</label>
        <div class="input-group">
          <input id="ppO2" name="ppO2" [(ngModel)]="gas.o2" placeholder="200" class="form-control" type="number" min="21" max="100" required/>
          <div ngbDropdown class="input-group-append d-inline-block" placement="bottom-right">
            <button class="btn btn-default" id="o2Menu" ngbDropdownToggle></button>
            <div ngbDropdownMenu aria-labelledby="o2Menu" aria-expanded="false">
              <button *ngFor="let stgas of this.gasNames" class="dropdown-item" (click)="gas.assignStandardGas(stgas)">{{stgas}}</button>
            </div>
          </div>
        </div>
        <app-gaslabel></app-gaslabel>
      </div>
  </div>
</div>