<div class="card">
  <div class="card-header">
    <h4>Gases</h4>
  </div>
  <div class="card-body">
    <!-- <button (click)="add()">+</button> -->
    <li *ngFor="let gas of gases.current">
      <div>
        <label>size:
          <input [(ngModel)]="gas.size" placeholder="size"/> [L]
        </label>
        <label>Start:
          <input [(ngModel)]="gas.startPressure" placeholder="startPressure"/> [bar]
        </label>
        <!-- <button (click)="remove(gas)">-</button> -->
      </div>
    </li>
  </div>
</div>
