<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand ps-3" routerLink="./">Gas planner</a>
    <button class="navbar-toggler" type="button" aria-expanded="false" aria-label="{{ 'menu.toggleNavigation' | translate }}"
      (click)="basicNavbar.toggle()">
      <fa-icon [icon]="iconMenu" class="me-3"></fa-icon>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" mdbCollapse #basicNavbar="mdbCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown" mdbDropdown >
          <a class="nav-link dropdown-toggle" id="id01" mdbDropdownToggle>{{ 'menu.calculators' | translate }}</a>
          <ul class="dropdown-menu" aria-labelledby="id01" mdbDropdownMenu>
            <li><a class="dropdown-item" routerLink="./"><fa-icon [icon]="iconPlanner" class="me-2"></fa-icon>{{ 'menu.planner' | translate }}</a></li>
            <li><a class="dropdown-item" routerLink="/sac"><fa-icon [icon]="iconRmv" class="me-2"></fa-icon>{{ 'menu.rmvSac' | translate }}</a></li>
            <li><a class="dropdown-item" routerLink="/nitrox"><fa-icon [icon]="iconNitrox" class="me-2"></fa-icon>{{ 'menu.nitrox' | translate }}</a></li>
            <li><a class="dropdown-item" routerLink="/gas"><fa-icon [icon]="iconGasProperties" class="me-2"></fa-icon>{{ 'menu.gasProperties' | translate }}</a></li>
            <li><a class="dropdown-item" routerLink="/altitude"><fa-icon [icon]="iconAltitude" class="me-2"></fa-icon>{{ 'menu.altitude' | translate }}</a></li>
            <li><a class="dropdown-item" routerLink="/weight"><fa-icon [icon]="iconWeight" class="me-2"></fa-icon>{{ 'menu.weight' | translate }}</a></li>
            <li><a class="dropdown-item" routerLink="/ndl"><fa-icon [icon]="iconNdl" class="me-2"></fa-icon>{{ 'menu.ndlTable' | translate }}</a></li>
            <li><a class="dropdown-item" routerLink="/redundancies">{{ 'menu.cylinderBalancing' | translate }}</a></li>
            <li><a class="dropdown-item" routerLink="/blender"><fa-icon [icon]="iconBlender" class="me-2"></fa-icon>{{ 'menu.gasBlender' | translate }}</a></li>
          </ul>
        </li>
        @if (inPlanner) {
          <li class="nav-item dropdown" mdbDropdown>
            <a class="nav-link dropdown-toggle" id="dive" mdbDropdownToggle>{{ 'menu.dive' | translate }}</a>
            <ul class="dropdown-menu" aria-labelledby="dive" mdbDropdownMenu>
              <li><a class="dropdown-item" (click)="cloneDive()"><fa-icon [icon]="iconClone" class="me-2"></fa-icon>{{ 'menu.clone' | translate }}</a></li>
              <li><a class="dropdown-item" (click)="saveDefaults()">{{ 'menu.saveAsDefault' | translate }}</a></li>
              <li><a class="dropdown-item" (click)="loadDefaults()">{{ 'menu.loadDefault' | translate }}</a></li>
              <li><a class="dropdown-item" (click)="shareDive()"><fa-icon [icon]="iconShare" class="me-2"></fa-icon>{{ 'menu.share' | translate }}</a></li>
              <li>@if (canDeleteDive) {
                <a class="dropdown-item" (click)="deleteDive()">
                  <fa-icon [icon]="iconDelete" class="me-2"></fa-icon>{{ 'menu.delete' | translate }}</a>
                }
              </li>
            </ul>
          </li>
        }
        <li><a class="nav-link" routerLink="/settings">{{ 'menu.settings' | translate }}</a></li>
        <li><a class="nav-link" routerLink="/diff">{{ 'menu.compareDives' | translate }}</a></li>
        <li><a class="nav-link" [routerLink]="['/help', 'standard_gases']">{{ 'menu.standardGases' | translate }}</a></li>
        <li><a class="nav-link" routerLink="/help">{{ 'menu.help' | translate }}</a></li>
        <li><a class="nav-link" routerLink="/learn">{{ 'menu.learn' | translate }}</a></li>
        <li><a class="nav-link" routerLink="/about">{{ 'menu.about' | translate }}</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item"><app-language-dropdown [navbar]="true"></app-language-dropdown></li>
      </ul>
    </div>
  </div>
</nav>
