<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand ps-3" routerLink="./">Gas planner</a>
        <button class="navbar-toggler" type="button" aria-expanded="false" aria-label="Toggle navigation"
            (click)="basicNavbar.toggle()">
            <fa-icon [icon]="faBars" class="me-3"></fa-icon>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" mdbCollapse #basicNavbar="mdbCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown" mdbDropdown >
                    <a class="nav-link dropdown-toggle" id="id01" mdbDropdownToggle>Calculators</a>
                    <div class="dropdown-menu" aria-labelledby="id01" mdbDropdownMenu>
                        <a class="dropdown-item" routerLink="/sac">RMV/SAC</a>
                        <a class="dropdown-item" routerLink="/nitrox">Nitrox</a>
                        <a class="dropdown-item" routerLink="/gas">Gas properties</a>
                        <a class="dropdown-item" routerLink="/altitude">Altitude</a>
                        <a class="dropdown-item" routerLink="/weight">Weight</a>
                        <a class="dropdown-item" routerLink="/ndl">NDL table</a>
                        <a class="dropdown-item" routerLink="/redundancies">Redundancies</a>
                    </div>
                </li>
                <li class="nav-item dropdown" mdbDropdown >
                    <a class="nav-link dropdown-toggle" id="id02" mdbDropdownToggle>Settings</a>
                    <div class="dropdown-menu" aria-labelledby="id02" mdbDropdownMenu>
                        <a class="dropdown-item" routerLink="/settings">Edit</a>
                        <a class="dropdown-item" (click)="saveDefaults()">Save defaults</a>
                        <a class="dropdown-item" (click)="loadDefaults()">Reload defaults</a>
                    </div>
                </li>
                <a class="nav-link" href="{{urls.standardGases}}" target="_blank">Standard gases</a>
                <a class="nav-link" routerLink="/diff">Compare dives</a>
                <a class="nav-link" href="{{urls.helpUrl}}" target="_blank">Help/Learn</a>
                <a class="nav-link" routerLink="/about">About</a>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><button *ngIf="showInstallButton" (click)="addToHomeScreen()"
                        class="btn btn-success btn-small mr-auto">Add to Home screen</button></li>
            </ul>
        </div>
    </div>
</nav>
