<form #f="ngForm" name="form" novalidate>
<div class="mt-5">
  <div class="row">
    <ngb-alert type="warning" *ngIf="showDisclaimer" (closed)="stopDisclaimer()" class="mt-4">
        <fa-icon [icon]="exclamation" class="mr-2 fa-lg"></fa-icon>
        <span><strong>Disclaimer:</strong> None of the authors, contributors, administrators, or anyone else connected with this project can be responsible
            for your use of the information provided by this application or linked from these web pages. Use the results at your own risk.</span>
    </ngb-alert>
    <div class="col-12 mt-4" [ngClass]="{
          'col-xxl-4': true,
          'col-lg-4': !isTechnical,
          'col-md-4': !isTechnical,
          'col-sm-6': !isTechnical,
          'col-md-6': isTechnical
         }">
        <app-tanks (validate)="f.form.updateValueAndValidity()"></app-tanks>
    </div>
    <div class="col-12 mt-4" [ngClass]="{
          'col-xxl-4': true,
          'col-lg-4': !isTechnical,
          'col-md-4': !isTechnical,
          'col-sm-6': !isTechnical,
          'col-md-6': isTechnical
        }">
        <app-depths></app-depths>
    </div>
    <div class="col-md-4 col-12 mt-4" [ngClass]="{
          'col-xxl-4': true,
          'col-lg-4': !isTechnical,
          'col-md-4': !isTechnical,
          'col-sm-12': !isTechnical,
          'col-lg-12': isTechnical
           } ">
        <app-diveoptions></app-diveoptions>
    </div>
    <div *ngIf="showResults" class="col-12 mt-4">
        <app-profilechart (chartHover)="chartHover($event)"></app-profilechart>
    </div>
    <div *ngIf="showResults" class="col-md-6 mt-4">
        <app-waypoints [selectedTimeStamp]="selectedTimeStamp"></app-waypoints>
    </div>
    <div class="col-md-6 mt-4">
        <app-consumption></app-consumption>
    </div>
    </div>
    </div>
</form>
