.diff-dive-plot {
    position: relative;
    width: 100%;
    height: 350px;
}

.diff-heatmap-plot {
    position: relative;
    width: 100%;
    height: 50px;
}

.plot-display {
    display: block;
}

.plot-hidden {
    display: none;
}
