<div class="card">
    <div class="card-header">
        <fa-icon [icon]="icon" class="mr-3"></fa-icon>
        <span>Consumption</span>
    </div>
    <div *ngIf="!dive.calculated" class="card-body">Not calculated yet</div>
    <div *ngIf="dive.calculated" class="card-body">
        <div *ngIf="!dive.hasErrors">
            <table class="table table-noheader">
                <tr>
                    <td>Time to surface [min.]:</td>
                    <td class="table-active">
                        <strong>{{ dive.timeToSurface | number:'1.0-0' }}</strong>
                    </td>
                </tr>
                <tr>
                    <td>Maximum bottom time [min.]:</td>
                    <td class="table-active">
                        <strong>{{ dive.maxTime | number:'1.0-0' }}</strong>
                    </td>
                </tr>
                <tr *ngIf="dive.needsReturn">
                    <td>Turn time [min]:</td>
                    <td class="table-active">
                        <strong>{{ dive.turnTime | number:'1.0-0' }}</strong>
                    </td>
                </tr>
                <tr *ngIf="dive.needsReturn">
                    <td>Turn pressure [bar]:</td>
                    <td class="table-active">
                        <strong>{{ dive.turnPressure | number:'1.0-0' }}</strong>
                    </td>
                </tr>
            </table>
            <app-tankchart *ngFor="let tank of tanks" [tank]="tank"></app-tankchart>
        </div>

        <div *ngIf="dive.notEnoughGas" class="alert  alert-danger">
            <fa-icon [icon]="exclamation" class="mr-1"></fa-icon>
            <span>Not enough gas to realize the dive! Maximum bottom time for current amount of gas is
                {{ dive.maxTime | number:'1.0-0' }} min.</span>
        </div>
        <div *ngIf="dive.notEnoughTime" class="alert  alert-danger">
            <fa-icon [icon]="exclamation" class="mr-1"></fa-icon>
            <span>Not enough time to realize the dive (duration needs to be at least {{ descentDuration | number:'1.0-0' }}
                min.)!</span>
        </div>
        <div *ngIf="dive.noDecoExceeded" class="alert  alert-warning">
            <fa-icon [icon]="warning" class="mr-1"></fa-icon>
            <span>No decompression time for current depth exceeded (Bottom time needs to be maximum
                {{ noDeco | number:'1.0-0' }} min.)!</span>
        </div>
        <div *ngFor="let event of dive.events">
            <div *ngIf="isHighPpO2(event)" class="alert alert-warning">
                <fa-icon [icon]="warning" class="mr-1"></fa-icon>
                <span>High partial pressure of oxygen reached at depth {{ event.depth | number:'1.0-0' }} m!</span>
            </div>
        </div>
    </div>
</div>
