<div class="card">
  <app-card-header
    [cardTitle]="'diveInfo.cardTitle' | translate"
    helpDocument="diveinfo"
    [headerIcon]="icon">
    <button class="btn btn-sm btn-secondary ms-2" type="button" (click)="sharePlan()" title="{{ 'diveInfo.shareTitle' | translate }}">
      <fa-icon [icon]="iconShare" class="me-2"></fa-icon>{{ 'diveInfo.share' | translate }}
    </button>
  </app-card-header>

  <div class="card-body card-minheight">
    <mdb-tabs #tabs>
      <mdb-tab [title]="'diveInfo.resultsTab' | translate">
        <app-calculating [show]="!dive.calculated"></app-calculating>
        <div class="pb-3">
          <table class="table table-sm">
            <tbody>
              <tr>
                <td>{{ 'diveInfo.totalDiveTime' | translate }} [min]:</td>
                <td class="table-active">
                  @if (dive.calculated) {
                    <strong id="total-dive-time-value">{{ dive.totalDuration | duration:dive.totalDuration
                    }} </strong>
                  }
                </td>
              </tr>
              <tr>
                <td>{{ 'diveInfo.timeToSurface' | translate }} [min]:</td>
                <td class="table-active">
                  @if (dive.calculated) {
                    <strong>{{ dive.timeToSurface | number:'1.0-0' }}</strong>
                  }
                </td>
              </tr>
              <tr>
                <td>{{ 'diveInfo.averageDepth' | translate }} [{{units.length}}]:</td>
                <td class="table-active">
                  @if (dive.calculated) {
                    <strong>{{ averageDepth | number:'1.0-1' }}</strong>
                  }
                </td>
              </tr>
              <tr>
                <td>{{ 'diveInfo.rockBottomAt' | translate }} [min]:</td>
                <td class="table-active">
                  @if (dive.calculated) {
                    <strong>{{ dive.emergencyAscentStart |
                    duration:dive.totalDuration }} </strong>
                  }
                </td>
              </tr>
              <tr>
                <td>{{ 'diveInfo.noDecoTime' | translate }} [min]:
                  @if (showApply) {
                    <button type="button" class="btn btn-secondary btn-sm ml-2" (click)="applyNdlDuration()"
                      title="{{ 'diveInfo.noDecoTimeTitle' | translate }}"
                    >{{ 'diveInfo.use' | translate }}</button>
                  }
                </td>
                <td class="table-active">
                  @if (dive.diveInfoCalculated) {
                    <strong>{{ noDeco | number:'1.0-0' }}</strong>
                  }
                </td>
              </tr>
              @if (dive.showMaxBottomTime) {
                <tr>
                  <td>{{ 'diveInfo.maxBottomTime' | translate }} [min]:
                    @if (showApply) {
                      <button type="button" class="btn btn-secondary btn-sm ml-2" (click)="applyMaxDuration()"
                        title="{{ 'diveInfo.maxBottomTimeTitle' | translate }}"
                      >{{ 'diveInfo.use' | translate }}</button>
                    }
                  </td>
                  <td class="table-active">
                    @if (dive.calculated) {
                      <strong>{{ dive.maxTime | number:'1.0-0' }}</strong>
                    }
                  </td>
                </tr>
              }
              <tr>
                <td>{{ 'diveInfo.surfaceGradient' | translate }} [%]:</td>
                <td class="table-active">
                  @if (dive.calculated) {
                    <strong>{{ surfaceGradient  | number:'1.0-0' }}</strong>
                  }
                </td>
              </tr>
              <tr>
                <td>{{ 'diveInfo.offgasingStart' | translate }} [min]:</td>
                <td class="table-active">
                  @if (dive.calculated) {
                    <span>
                      <strong>{{ offgasingStartTime | duration:dive.totalDuration }}</strong>
                      (at {{ offgasingStartDepth | number:'1.0-0' }} {{ units.length }})
                    </span>
                  }
                </td>
              </tr>
              @if (showHighestCeiling) {
                  <tr>
                      <td>{{ 'diveInfo.highestCeiling' | translate }} [{{ units.length }}]:</td>
                      <td class="table-active">
                          @if (dive.calculated) {
                        <span>
                          <strong>{{ maxCeiling!.depth | number:'1.0-1' }}</strong>
                          (at {{ maxCeiling!.time | duration:maxCeiling!.time }})
                        </span>
                          }
                      </td>
                  </tr>
              }
              @if (isComplex) {
                <tr>
                  <td>
                    {{ 'diveInfo.highestGasDensity' | translate }} [{{units.density}}]:<br>
                  </td>
                  <td class="table-active">
                    @if (dive.calculated) {
                      <span >
                        <strong >{{ highestDensity | number:'1.0-2' }}</strong>
                        ({{densityText}})
                      </span>
                    }
                  </td>
                </tr>
              }
              @if (dive.needsReturn) {
                <tr>
                  <td>{{ 'diveInfo.turnTime' | translate }} [min]:</td>
                  <td class="table-active">
                    @if (dive.calculated) {
                      <strong>{{ dive.turnTime | number:'1.0-0' }}</strong>
                    }
                  </td>
                </tr>
              }
              @if (dive.needsReturn) {
                <tr>
                  <td>{{ 'diveInfo.turnPressure' | translate }} [{{units.pressure}}]:</td>
                  <td class="table-active">
                    @if (dive.calculated) {
                      <strong>{{ dive.turnPressure | number:'1.0-0' }}</strong>
                    }
                  </td>
                </tr>
              }
              <tr>
                <td>{{ 'diveInfo.otuToxicity' | translate }} [OTU]:</td>
                <td class="table-active">
                  @if (dive.calculated) {
                    <strong>{{ dive.otu | number:'1.0-0' }}</strong>
                  }
                </td>
              </tr>
              <tr>
                <td>{{ 'diveInfo.cnsToxicity' | translate }} [%]:</td>
                <td class="table-active">
                  @if (dive.calculated) {
                    <strong>{{cnsText | translate}}</strong>
                  }
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </mdb-tab>
      <mdb-tab>
        <ng-template mdbTabTitle>
          <span>{{ 'diveInfo.consumedTab' | translate }}</span>
          @if (dive.notEnoughGas) {
            <fa-icon [icon]="warnIcon" class="ms-2 fa-xl text-danger"></fa-icon>
          }
        </ng-template>
        <app-calculating [show]="!dive.calculated"></app-calculating>
        @if (dive.showResults) {
          @for (tank of tanks; track tank) {
            <app-tankchart [tank]="tank" [showId]="isComplex" [toxicity]="toxicity">
            </app-tankchart>
          }
        }
      </mdb-tab>
      <mdb-tab>
        <ng-template mdbTabTitle>
          <span>{{ 'diveInfo.issuesTab' | translate }}</span>
          @if (dive.hasErrorEvent || dive.hasWarningEvent) {
            <fa-icon [class.text-danger]="dive.hasErrorEvent"
              [class.text-warning]="!dive.hasErrorEvent && dive.hasWarningEvent"
              [icon]="warnIcon" class="ms-2 fa-xl">
            </fa-icon>
          }
        </ng-template>
        <app-calculating [show]="!dive.calculated"></app-calculating>
        <app-dive-issues></app-dive-issues>
      </mdb-tab>
    </mdb-tabs>
  </div>
</div>
