<form [formGroup]="blenderForm">
    <div class="row mt-5">
        <div class="col col-12 col-md-8 col-lg-6 col-xxl-6 mt-3">
            <div class="card">
                <div class="card-header">
                    <fa-icon [icon]="calcIcon" class="me-3"></fa-icon>
                    <span>Gas blender</span>
                </div>
                <div class="card-body row">
                    <div class="col col-12 col-sm-4 mb-2">
                        <div>Source</div>
                        <div class="mb-2">
                            <app-oxygen-dropdown [tank]="calc.sourceTank" (gasChange)="applyChange()"
                                                 [showBestMix]="false" (standardGasApplied)="applyTemplate()" controlName="sourceO2"
                                                 [showTrimixGases]="true" [nitroxForm]="blenderForm" />
                        </div>
                        <div class="mb-2">
                            <label for="sourceHe" class="form-label">He [%]:</label>
                            <input formControlName="sourceHe" class="form-control" type="number"
                                   (input)="applyChange()" [min]="ranges.tankHe[0]" [max]="ranges.tankHe[1]" step="1"
                                   required [class.is-invalid]="sourceHeInvalid" id="sourceHe" />
                            <div class="text-danger" *ngIf="sourceHeInvalid">Needs to be number
                                {{ranges.tankHeLabel}}</div>
                        </div>
                        <div>
                            <label for="sourcePressure" class="form-label">Pressure
                                [{{units.pressure}}]:</label>
                            <input formControlName="sourcePressure" class="form-control" type="number"
                                   (input)="applyChange()" required [min]="0"
                                   [max]="ranges.tankPressure[1]" step="1" id="sourcePressure"
                                   [class.is-invalid]="sourcePressureInvalid" />
                            <div class="text-danger" *ngIf="sourcePressureInvalid">
                                Needs to be number {{ranges.tankPressureLabel}}</div>
                        </div>
                    </div>
                    <div class="col col-12 col-sm-4 mb-2">
                        <div>Top mix</div>
                        <div class="mb-2">
                            <app-oxygen-dropdown [tank]="calc.topMix" (gasChange)="applyChange()"
                                                 [showBestMix]="false" (standardGasApplied)="applyTemplate()" controlName="topMixO2"
                                                 [showTrimixGases]="true" [nitroxForm]="blenderForm" />
                        </div>
                        <div class="mb-2">
                            <label for="topMixHe" class="form-label">He [%]:</label>
                            <input formControlName="topMixHe" class="form-control" type="number"
                                   (input)="applyChange()" [min]="ranges.tankHe[0]" [max]="ranges.tankHe[1]" step="1"
                                   required [class.is-invalid]="topMixHeInvalid" id="topMixHe" />
                            <div class="text-danger" *ngIf="topMixHeInvalid">Needs to be number
                                {{ranges.tankHeLabel}}</div>
                        </div>
                    </div>
                    <div class="col col-12 col-sm-4 mb-2">
                        <div>Target</div>
                        <div class="mb-2">
                            <app-oxygen-dropdown [tank]="calc.targetTank" (gasChange)="applyChange()"
                                                 [showBestMix]="false" (standardGasApplied)="applyTemplate()" controlName="targetO2"
                                                 [showTrimixGases]="true" [nitroxForm]="blenderForm" />
                        </div>
                        <div class="mb-2">
                            <label for="sourceHe" class="form-label">He [%]:</label>
                            <input formControlName="targetHe" class="form-control" type="number"
                                   (input)="applyChange()" [min]="ranges.tankHe[0]" [max]="ranges.tankHe[1]" step="1"
                                   required [class.is-invalid]="targetHeInvalid" id="targetHe" />
                            <div class="text-danger" *ngIf="targetHeInvalid">Needs to be number
                                {{ranges.tankHeLabel}}</div>
                        </div>
                        <div>
                            <label for="sourcePressure" class="form-label">Pressure
                                [{{units.pressure}}]:</label>
                            <input formControlName="targetPressure" class="form-control" type="number"
                                   (input)="applyChange()" required [min]="ranges.tankPressure[0]"
                                   [max]="ranges.tankPressure[1]" step="1" id="targetPressure"
                                   [class.is-invalid]="targetPressureInvalid" />
                            <div class="text-danger" *ngIf="targetPressureInvalid">
                                Needs to be number {{ranges.tankPressureLabel}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-12 col-md-4 col-lg-3 col-xxl-2 mt-3">
            <div class="card">
                <div class="card-header">
                    <span>Results</span>
                </div>
                <div class="card-body">
                    <table class="table table-sm">
                        <tbody>
                            <tr *ngIf="needsRemove">
                                <td>Remove from source [{{units.pressure}}]</td>
                                <td class="table-active">{{ removeFromSource | number:'1.0-1' }}</td>
                            </tr>
                            <tr>
                                <td>Add O2 [{{units.pressure}}]</td>
                                <td class="table-active">{{ addO2 | number:'1.0-1' }}</td>
                            </tr>
                            <tr>
                                <td>Add He [{{units.pressure}}]</td>
                                <td class="table-active">{{ addHe | number:'1.0-1' }}</td>
                            </tr>
                            <tr>
                                <td>Add Top mix [{{units.pressure}}]</td>
                                <td class="table-active">{{ addTopMix | number:'1.0-1' }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>
