<div class="card">
    <div class="card-header">
        <fa-icon [icon]="tasks" class="mr-3"></fa-icon>
        <span>Dive</span>
    </div>
    <div *ngIf="!dive.calculated" class="card-body">Not calculated yet</div>
    <div *ngIf="dive.calculated" class="card-body">
        <div *ngIf="dive.notEnoughGas" class="alert  alert-danger">
            <fa-icon [icon]="exclamation" class="mr-1"></fa-icon>
            <span>Not enough gas to realize the dive! Maximum bottom time for current amount of gas is {{ dive.maxTime }} min.</span>
        </div>
        <div *ngIf="dive.depthExceeded" class="alert  alert-danger">
            <fa-icon [icon]="exclamation" class="mr-1"></fa-icon>
            <span>Maximum depth {{gasMod}} m exceeded!</span>
        </div>
        <div *ngIf="dive.notEnoughTime" class="alert  alert-danger">
            <fa-icon [icon]="exclamation" class="mr-1"></fa-icon>
            <span>Not enough time to realize the dive (duration needs to be at least {{dive.descent.duration }} min.)!</span>
        </div>
        <div *ngIf="dive.noDecoExceeded" class="alert  alert-warning">
            <fa-icon [icon]="warning" class="mr-1"></fa-icon>
            <span>No decompression time for current depth exceeded (Bottom time needs to be maximum {{ noDeco | number:'1.0-0' }} min.)!</span>
        </div>
        
        <div  *ngIf="!dive.hasErrors">
            <table class="table table-noheader">
                <tr>
                    <td>Time to surface [min.]:</td>
                    <td class="table-active">
                        <strong>{{ dive.timeToSurface | number:'1.0-0' }}</strong>
                    </td>
                </tr>
                <tr>
                    <td>Maximum bottom time [min.]:</td>
                    <td class="table-active">
                        <strong>{{ dive.maxTime | number:'1.0-0' }}</strong>
                    </td>
                </tr>
                <tr>
                    <td>Rock bottom [bar]:</td>
                    <td class="table-active">
                        <strong>{{ bottomGas.reserve | number:'1.0-0' }}</strong>
                    </td>
                </tr>
                <tr *ngIf="dive.needsReturn">
                    <td>Turn time [min]:</td>
                    <td class="table-active">
                        <strong>{{ dive.turnTime | number:'1.0-0' }}</strong>
                    </td>
                </tr>
                <tr *ngIf="dive.needsReturn">
                    <td>Turn pressure [bar]:</td>
                    <td class="table-active">
                        <strong>{{ dive.turnPressure | number:'1.0-0' }}</strong>
                    </td>
                </tr>
            </table>
            <div>
                <div>Gas remaining: {{ bottomGas.endPressure }}/{{ bottomGas.startPressure }} bar</div>
                <div class="progress gas-bar">
                    <div *ngIf="!bottomGas.hasReserve" class="progress-bar bg-danger" role="progressbar" aria-valuemin="0" [attr.aria-valuemax]="bottomGas.startPressure"
                        [attr.aria-valuenow]="bottomGas.endPressure" [style.width]="bottomGas.percentsRemaining + '%'">{{bottomGas.endPressure}}</div>
                    <div *ngIf="!bottomGas.hasReserve && !bottomGas.isEmpty" class="progress-bar bg-warning" role="progressbar" aria-valuemin="0" [attr.aria-valuemax]="bottomGas.startPressure"
                        [attr.aria-valuenow]="bottomGas.reserve" [style.width]="-bottomGas.reservePercentsRemaining + '%'">{{-bottomGas.reserveRemaining}}</div>
                    <div *ngIf="bottomGas.hasReserve" class="progress-bar bg-warning" role="progressbar" aria-valuemin="0" [attr.aria-valuemax]="bottomGas.startPressure"
                        [attr.aria-valuenow]="bottomGas.reserve" [style.width]="bottomGas.percentsReserve + '%'">{{bottomGas.reserve}}</div>
                    <div *ngIf="bottomGas.hasReserve" class="progress-bar bg-success gas-bar" role="progressbar" aria-valuemin="0" [attr.aria-valuemax]="bottomGas.startPressure"
                        [attr.aria-valuenow]="bottomGas.endPressure" [style.width]="bottomGas.reservePercentsRemaining + '%'">{{bottomGas.reserveRemaining}}</div>
                </div>
                <app-gaslabel></app-gaslabel>
            </div>
        </div>
    </div>
</div>