<div class="card">
    <div class="card-header">
        <fa-icon [icon]="tasks" class="mr-3"></fa-icon>
        <span>Dive</span>
    </div>
    <div *ngIf="!dive.calculated" class="card-body">Not calculated yet</div>
    <div *ngIf="dive.calculated" class="card-body">
        <div *ngIf="dive.notEnoughGas" class="alert  alert-danger">
            <fa-icon [icon]="exclamation" class="mr-1"></fa-icon>
            <span>Not enough gas to realize the dive! Maximum bottom time for current amount of gas is
                {{ dive.maxTime }} min.</span>
        </div>
        <div *ngIf="dive.depthExceeded" class="alert  alert-danger">
            <fa-icon [icon]="exclamation" class="mr-1"></fa-icon>
            <span>Maximum depth {{gasMod | number:'1.0-2' }} m exceeded!</span>
        </div>
        <div *ngIf="dive.notEnoughTime" class="alert  alert-danger">
            <fa-icon [icon]="exclamation" class="mr-1"></fa-icon>
            <span>Not enough time to realize the dive (duration needs to be at least {{ descentDuration  | number:'1.0' }}
                min.)!</span>
        </div>
        <div *ngIf="dive.noDecoExceeded" class="alert  alert-warning">
            <fa-icon [icon]="warning" class="mr-1"></fa-icon>
            <span>No decompression time for current depth exceeded (Bottom time needs to be maximum
                {{ noDeco | number:'1.0-0' }} min.)!</span>
        </div>

        <div *ngIf="!dive.hasErrors">
            <table class="table table-noheader">
                <tr>
                    <td>Time to surface [min.]:</td>
                    <td class="table-active">
                        <strong>{{ dive.timeToSurface | number:'1.0-0' }}</strong>
                    </td>
                </tr>
                <tr>
                    <td>Maximum bottom time [min.]:</td>
                    <td class="table-active">
                        <strong>{{ dive.maxTime | number:'1.0-0' }}</strong>
                    </td>
                </tr>
                <tr>
                    <td>Rock bottom [bar]:</td>
                    <td class="table-active">
                        <strong>{{ bottomGas.reserve | number:'1.0-0' }}</strong>
                    </td>
                </tr>
                <tr *ngIf="dive.needsReturn">
                    <td>Turn time [min]:</td>
                    <td class="table-active">
                        <strong>{{ dive.turnTime | number:'1.0-0' }}</strong>
                    </td>
                </tr>
                <tr *ngIf="dive.needsReturn">
                    <td>Turn pressure [bar]:</td>
                    <td class="table-active">
                        <strong>{{ dive.turnPressure | number:'1.0-0' }}</strong>
                    </td>
                </tr>
            </table>
            <div>
                <div class="row">
                    <div class="col text-left">Gas remaining: {{ bottomGas.endPressure }}/{{ bottomGas.startPressure }} bar</div>
                    <app-gaslabel [gas]="bottomGas" class="col text-right"></app-gaslabel>
                </div>
                <div class="progress gas-bar mt-1 mb-2">
                    <div role="progressbar" aria-valuemin="0" [attr.aria-valuemax]="bottomGas.startPressure"
                        [attr.aria-valuenow]="bottomGas.reserve" [style.width]="bottomGas.percentsReserve + '%'" class="reserve-bar rounded-progress">
                        <div class="reserve-overlay ">
                            <div class="reserve-value">{{bottomGas.reserve}}</div>
                        </div>
                    </div>

                    <div role="progressbar" aria-valuemin="0" [attr.aria-valuemax]="bottomGas.startPressure"
                        [ngClass]="{'progress-bar rounded-progress': true, 'bg-success': bottomGas.hasReserve, 'bg-danger': !bottomGas.hasReserve }"
                        [attr.aria-valuenow]="bottomGas.endPressure" [style.width]="bottomGas.percentsRemaining + '%'">
                        {{bottomGas.endPressure}}</div>
                </div>
            </div>
        </div>
    </div>
</div>