<div class="row mt-5">
    <div class="col col-auto mt-3">
        <div class="card">
            <div class="card-header">
                <fa-icon [icon]="iconConfig" class="me-3"></fa-icon>
                <span>Options</span>
            </div>
            <div class="card-body">
                <div class="pt-2 mb-4">
                    <app-nitrox-o2 [tank]="tank.tank" [showBestMix]="false" (gasChange)="calculate()"
                        [toxicity]="toxicity"></app-nitrox-o2>
                </div>
                <div class="pt-2 mb-4">
                    <app-pp-o2 [maxPpO2]="options.maxPpO2" (ppO2Change)="ppO2Changed($event)" label="Maximum ppO2:">
                    </app-pp-o2>
                </div>
                <div class="pt-2 mb-4">
                    <app-salinity [salinity]="options.salinity" (inputChange)="salinityChanged($event)">
                    </app-salinity>
                </div>
                <div class="pt-2 mb-4">
                    <app-altitude [altitude]="options.altitude" (inputChange)="altitudeChanged($event)">
                    </app-altitude>
                </div>
                <div class="pt-2 mb-4">
                    <app-gradients [gfLow]="options.gfLow" [gfHigh]="options.gfHigh"
                        (inputChange)="gradientsChanged($event)" [simple]="false" [showTitle]="true">
                    </app-gradients>
                </div>
            </div>
        </div>
    </div>
    <div class="col col-auto mt-3">
        <div class="card">
            <div class="card-header">
                <fa-icon [icon]="icon" class="me-3"></fa-icon>
                <span>No decompression limits</span>
            </div>
            <div class="card-body card-minheight">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Depth [{{units.length}}]</th>
                            <th>Limit [min]</th>
                        </tr>
                        <tr *ngIf="noResults">
                            <td colspan="2">
                                No NDL limits found in meaningful depth range.<br>
                                Change gas O2 content.
                            </td>
                        </tr>
                        <tr *ngFor="let ndl of this.limits">
                            <td>{{ ndl.depth }}</td>
                            <td>{{ ndl.limit | number: '1.0-0'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group mt-3">
        <button type="button" class="btn btn-primary me-2" (click)="goBack()">Back</button>
    </div>
</div>
