<div class="row mt-5">
    <div class="col col-auto mt-3">
        <div class="card">
            <div class="card-header">
                <fa-icon [icon]="iconConfig" class="me-3"></fa-icon>
                <span>Options</span>
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <app-nitrox-o2 [tank]="tank.tank" [showBestMix]="false"></app-nitrox-o2>
                </div>
                <div class="mb-3">
                    <app-salinity [(salinity)]="options.salinity"></app-salinity>
                </div>
                <div class="mb-3">
                    <app-altitude [(altitude)]="options.altitude"></app-altitude>
                </div>
                <div class="mb-3">
                    <app-gradients [(gfLow)]="options.gfLow" [(gfHigh)]="options.gfHigh" [simple]="false"></app-gradients>
                </div>
            </div>
        </div>
    </div>
    <div class="col col-auto mt-3">
        <div class="card">
            <div class="card-header">
                <fa-icon [icon]="icon" class="me-3"></fa-icon>
                <span>No decompression limits</span>
            </div>
            <div class="card-body card-minheight">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Depth [{{units.length}}]</th>
                            <th>Limit [min]</th>
                        </tr>
                        <tr *ngIf="calculating">
                            <td colspan="5">
                                <app-calculating [show]="true"></app-calculating>
                            </td>
                        </tr>
                        <tr *ngFor="let ndl of this.limits">
                            <td>{{ ndl.depth }}</td>
                            <td>{{ ndl.limit | number: '1.0-0'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group mt-2">
        <button type="button" class="btn btn-primary me-2" (click)="goBack()">Back</button>
    </div>
</div>
