<form [formGroup]="depthsForm">
    <div class="card">
        <div class="card-header">
            <fa-icon [icon]="cardIcon" class="me-3"></fa-icon>
            <span *ngIf="!isComplex">Depth</span>
            <span *ngIf="isComplex">Depths</span>
        </div>
        <div class="card-body row" *ngIf="!isComplex">
            <div class="mb-4 me-4 col col-auto">
                <mdb-form-control>
                    <input id="duration" formControlName="planDuration" mdbInput class="form-control"
                        (input)="durationChanged()" type="number" required [min]="ranges.duration[0]"
                        [max]="ranges.duration[1]" step="1" [class.is-invalid]="durationInvalid" />
                    <label for="duration" class="form-label" mdbLabel>Bottom time [min]:</label>
                </mdb-form-control>
                <div><small class="text-muted form-text">No deco limit {{ noDecoTime | number:'1.0-0' }} min</small>
                </div>
                <button type="button" class="btn btn-secondary mt-2 me-2 col col-auto"
                    (click)="depths.applyMaxDuration()" *ngIf="dive.showMaxDuration" id="btnApplyDuration">Max</button>
                <button type="button" class="btn btn-secondary mt-2 col col-auto"
                    (click)="depths.applyNdlDuration()" *ngIf="planner.ndlValid" id="btnApplyNdl">No deco</button>
                <div class="text-danger form-text" *ngIf="durationInvalid">Needs to be number {{ ranges.durationLabel }}
                </div>
            </div>
            <div class="col col-auto">
                <app-depth></app-depth>
            </div>
        </div>
        <div class="card-body" *ngIf="isComplex">
            <table class="table table-borderless">
                <tr>
                    <th>
                        <div class="m-0 py-0 px-1 text-end">From [{{units.length}}]</div>
                    </th>
                    <th>
                        <div class="m-0 py-0 px-1">To [{{units.length}}]</div>
                    </th>
                    <th>
                        <div class="m-0 py-0 px-1">Duration [min]</div>
                    </th>
                    <th>
                        <div class="m-0 py-0 px-1">Tank</div>
                    </th>
                    <th>
                        <div class="m-0 py-0 px-1">
                            <button class="m-0 p-1 btn btn-secondary" type="button" (click)="addLevel()">
                                <fa-icon [icon]="addIcon" class="fa-xl"></fa-icon>
                            </button>
                        </div>
                    </th>
                </tr>
                <ng-container formArrayName="levels">
                    <tr *ngFor="let level of levelControls.controls; let i = index" [formGroupName]="i" class="p-0">
                        <td>
                            <div class="m-0 pb-0 px-1 text-end">{{ startDepth(i) | number:'1.0-0' }}
                            </div>
                        </td>
                        <td>
                            <div class="input-group m-0 pb-0 px-1">
                                <input formControlName="endDepth" class="form-control" type="number" id="depthItem"
                                    (input)="levelChanged(i)" required [min]="ranges.depth[0]" [max]="ranges.depth[1]"
                                    step="1" [class.is-invalid]="depthItemInvalid(i)" />
                                <div class="text-danger" *ngIf="depthItemInvalid(i)">
                                    Needs to be number {{ranges.depthLabel}}</div>
                            </div>
                        </td>
                        <td>
                            <div class="input-group m-0 pb-0 px-1">
                                <input formControlName="duration" class="form-control" type="number" id="durationItem"
                                    (input)="levelChanged(i)" required [min]="ranges.duration[0]"
                                    [max]="ranges.duration[1]" step="1" [class.is-invalid]="durationItemInvalid(i)" />
                                <div class="text-danger" *ngIf="durationItemInvalid(i)">Needs to be number
                                    {{ ranges.durationLabel }}</div>
                            </div>
                        </td>
                        <td>
                            <div class="input-group m-0 pb-0 px-1">
                                <div mdbDropdown class="input-group dropdown">
                                    <input id="tanks" [value]="tankLabelFor(i)" class="form-control" type="text"
                                        readonly />
                                    <button class="btn btn-default dropdown-toggle dropdown-toggle-split" id="tankMenu"
                                        type="button" mdbDropdownToggle aria-expanded="false"
                                        data-mdb-toggle="dropdown"></button>
                                    <ul class="dropdown-menu dropdown-menu-end" mdbDropdownMenu>
                                        <li *ngFor="let tank of tanks" (click)="assignTank(i, tank)">
                                            <a class="dropdown-item">{{ tankLabel(tank) }}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="input-group m-0 pb-0 px-1">
                                <button *ngIf="minimumSegments" type="button" class="m-0 p-1 btn btn-secondary"
                                    (click)="removeLevel(i)" id="removeLevel">
                                    <fa-icon [icon]="removeIcon" class="p-0 m-0 fa-xl"></fa-icon>
                                </button>
                            </div>
                        </td>
                    </tr>
                </ng-container>
            </table>
        </div>
    </div>
</form>
