<form [formGroup]="depthsForm">
    <div class="card">
        <div class="card-header">
            <fa-icon [icon]="cardIcon" class="me-3"></fa-icon>
            <span *ngIf="!isComplex">Depth</span>
            <span *ngIf="isComplex">Depths</span>
        </div>
        <div class="card-body" *ngIf="!isComplex">
            <div class="mb-3">
                <label for="duration" class="form-label">Bottom time [min]:
                    <div class="row row-cols-auto">
                        <input id="duration" formControlName="planDuration" class="form-control ms-3 mt-2"
                            (input)="durationChanged()" type="number" required [min]="ranges.duration[0]"
                            [max]="ranges.duration[1]" step="1" [class.is-invalid]="durationInvalid" />
                        <button type="button" class="btn btn-secondary ms-2 mt-2" (click)="depths.applyMaxDuration()"
                            *ngIf="dive.showMaxDuration">Max</button>
                        <button type="button" class="btn btn-secondary ms-2 mt-2" (click)="depths.applyNdlDuration()"
                            *ngIf="planner.ndlValid">No deco</button>
                    </div>
                </label>
                <div><small class="text-muted form-text">No deco limit {{ noDecoTime | number:'1.0-0' }} min</small>
                </div>
                <div class="text-danger form-text" *ngIf="durationInvalid">Needs to be number {{ ranges.durationLabel }}
                </div>
            </div>

            <div class="mb-3">
                <app-depth></app-depth>
            </div>
        </div>
        <div class="card-body" *ngIf="isComplex">
            <table class="table table-borderless">
                <tr>
                    <th class="text-end">
                        <div>From [{{units.length}}]</div>
                    </th>
                    <th>
                        <div>To [{{units.length}}]</div>
                    </th>
                    <th>
                        <div>Duration [min]</div>
                    </th>
                    <th>
                        <div>Tank</div>
                    </th>
                    <th><button class="btn btn-default btn-lg m-0 p-0 text-primary" type="button"
                            (click)="addLevel()">
                            <fa-icon [icon]="addIcon"></fa-icon>
                        </button></th>
                </tr>
                <ng-container formArrayName="levels" >
                    <tr *ngFor="let level of levels.controls; let i = index" [formGroupName]="i">
                        <td>
                            <div class="mb-0 pb-0 px-1 text-end">{{ startDepth(i) | number:'1.0-0' }}
                            </div>
                        </td>
                        <td>
                            <div class="input-group mb-0 pb-0 px-1">
                                <input formControlName="endDepth" class="form-control" type="number"
                                    (input)="levelChanged(i)" required [rangeVal]="ranges.depth" [min]="ranges.depth[0]"
                                    [max]="ranges.depth[1]" step="1" [class.is-invalid]="depthItemInvalid(i)" />
                                <div class="text-danger" *ngIf="depthItemInvalid(i)">
                                    Needs to be number {{ranges.depthLabel}}</div>
                            </div>
                        </td>
                        <td>
                            <div class="input-group mb-0 pb-0 px-1">
                                <input formControlName="duration" class="form-control" type="number"
                                    (input)="levelChanged(i)" required [rangeVal]="ranges.duration"
                                    [min]="ranges.duration[0]" [max]="ranges.duration[1]" step="1"
                                    [class.is-invalid]="durationItemInvalid(i)" />
                                <div class="text-danger" *ngIf="durationItemInvalid(i)">Needs to be number
                                    {{ ranges.durationLabel }}</div>
                            </div>
                        </td>
                        <td>
                            <div class="input-group mb-0 pb-0 px-1">
                                <input id="tanks" [value]="tankLabelFor(i)" class="form-control" type="text"
                                    readonly />
                                <div ngbDropdown class="input-group-append d-inline-block" placement="bottom-right">
                                    <button class="btn btn-default border" id="tankMenu" type="button"
                                        ngbDropdownToggle></button>
                                    <div ngbDropdownMenu aria-labelledby="tankMenu" aria-expanded="false">
                                        <button *ngFor="let tank of tanks" type="button" class="dropdown-item"
                                            (click)="assignTank(i, tank)">{{ tankLabel(tank)
                                            }}</button>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <button *ngIf="minimumSegments" type="button" class="btn text-secondary btn-lg m-0 p-0 align-top"
                                (click)="removeLevel(i)">
                                <fa-icon [icon]="removeIcon"></fa-icon>
                            </button>
                        </td>
                    </tr>
                </ng-container>
            </table>
        </div>
    </div>
</form>
