<div class="card">
  <div class="card-header">
    <h2>Plan</h2>
  </div>
  <div class="card-body">
    <div class="form-group">
      <label>Duration [min.]:
        <input [(ngModel)]="plan.duration" placeholder="duration" class="form-control" type="number" />
      </label>
      <label>Depth [m]:
        <input [(ngModel)]="plan.depth" placeholder="depth" class="form-control" type="number" />
      </label>
    </div>
    <div>
      <button class="btn btn-primary" (click)="calculate()">Calculate</button>
    </div>
  </div>
</div>