<div class="card">
  <div class="card-header">
    Plan
  </div>
  <div class="card-body">
    <div class="form-group">
      <label for="duration">Duration [min.]:
        <input id="duration" [(ngModel)]="plan.duration" placeholder="10" class="form-control" type="number" min="0" required/>
      </label>
    </div>
    <div class="form-group">
      <label for="depth">Depth [m]:
        <input id="depth" [(ngModel)]="plan.depth" placeholder="30" class="form-control" type="number" min="0" required/>
      </label>
    </div>
    <div class="form-group">
        <label for="strategy">Strategy:
          <input id="strategy" [(ngModel)]="plan.strategy" placeholder="1" class="form-control" type="number" min="1" max="3" required/>
        </label>
      </div>
    <div class="form-group">
      <button class="btn btn-primary" (click)="calculate()">Calculate</button>
      <button class="btn btn-default" (click)="saveDefaults()">Save</button>
      <button class="btn btn-default" (click)="reset()">Reset</button>
    </div>
  </div>
</div>