<div [formGroup]="gfForm" class="row">
  @if (showTitle) {
    <div class="row">
      <label for="gfLowField" class="form-label">{{ 'gradients.title' | translate }}</label>
    </div>
  }
  <div class="mb-4 col col-12" [ngClass]="{ 'col-sm-6': !simple }">
    <div>
      @if (!simple) {
        <label for="gfLowField" class="form-label" mdbLabel>{{ 'gradients.lowLabel' | translate }}</label>
      }
      <div mdbDropdown class="input-group dropdown" [class.form-outline]="simple">
        @if (simple) {
          <input id="gfLowField" [value]="conservatism | translate" class="form-control" type="text" readonly />
        }
        @if (!simple) {
          <input id="gfLowField" class="form-control" type="number" formControlName="gfLow"
            (input)="gfLowChanged()" required [min]="minGradient" [max]="maxGradient" step="1" [class.is-invalid]="gfLowInvalid" />
        }
        <button type="button" class="btn btn-default dropdown-toggle dropdown-toggle-split"
        id="conservatismMenu" mdbDropdownToggle data-mdb-toggle="dropdown" aria-expanded="false"></button>
        <ul class="dropdown-menu dropdown-menu-end" mdbDropdownMenu>
          <li (click)="lowConservatism()"><a class="dropdown-item">{{standards.lowName | translate}}</a></li>
          <li (click)="mediumConservatism()"><a class="dropdown-item">{{standards.mediumName | translate}}</a>
        </li>
        <li (click)="highConservatism()"><a class="dropdown-item">{{standards.highName | translate}}</a></li>
      </ul>
    </div>
    @if (gfLowInvalid) {
      <div class="text-danger form-text position-absolute">
      {{ 'validation.needsNumber' | translate }} {{ minGradient }} - {{ maxGradient }} {{ 'gradients.lowerThanHigh' | translate }}</div>
    }
  </div>
</div>
@if (!simple) {
  <div class="mb-4 col col-12 col-sm-6">
    <label for="gfHighField" class="form-label" mdbLabel>{{ 'gradients.highLabel' | translate }}</label>
    <input id="gfHighField" formControlName="gfHigh" class="form-control" type="number" required
      (input)="gfHighChanged()" [min]="minGradient" [max]="maxGradient" step="1" [class.is-invalid]="gfHighInvalid" />
      <div class="invalid-feedback position-absolute">
        {{ 'validation.needsNumber' | translate }} {{ minGradient }} - {{ maxGradient }} {{ 'gradients.higherThanLow' | translate }}
      </div>
    </div>
  }
</div>
