<div class="card">
  <div class="card-header ">
      <fa-icon [icon]="icon" class="me-3"></fa-icon>
      <span *ngIf="!isComplex">Bottom gas tank</span>
      <span *ngIf="isComplex">Tanks</span>
  </div>
  <div class="card-body" *ngIf="isComplex">
    <table class="table table-borderless">
        <tr>
            <th colspan="3">
                <div class="d-flex flex-row justify-content-around">
                    <div class="me-1">Size [L]</div>
                    <div class="mx-1">Pressure [bar]</div>
                    <div class="ms-1">Percent O2</div>
                </div>
            </th>
            <th>
                <button class="btn btn-sm m-0 p-0" type="button" (click)="addTank()">
                    <fa-icon [icon]="plusIcon"></fa-icon>
                </button>
            </th>
        </tr>
        <tr *ngFor="let tank of tanks">
            <td class="align-top" colspan="3">
                <div class="d-flex flex-row justify-content-between py-0">
                    <div class="me-1">
                        <input #size="ngModel" name="size" [(ngModel)]="tank.size" class="form-control" type="number"
                            (change)="gasChanged()" required [range]="[1, 50]" [min]="1" [max]="50" step="1"
                            [class.is-invalid]="size.invalid && (size.dirty || size.touched)" />

                        <div class="text-danger" *ngIf="size.invalid && (size.dirty || size.touched)">Needs to be number
                            1-50 L
                        </div>
                    </div>

                    <div class="mx-1">
                        <input #startPressure="ngModel" name="startPressure" [(ngModel)]="tank.startPressure"
                            class="form-control" type="number" (change)="gasChanged()" required [range]="[30, 350]" [min]="30" [max]="350" step="1"
                            [class.is-invalid]="startPressure.invalid && (startPressure.dirty || startPressure.touched)" />
                        <div class="text-danger"
                            *ngIf="startPressure.invalid && (startPressure.dirty || startPressure.touched)">Needs to be
                            number 30-350 bar</div>
                    </div>

                    <div class="ms-1">
                        <div class="input-group">
                            <input #gasO2="ngModel" name="gasO2" [(ngModel)]="tank.o2" class="form-control" type="number"
                                (change)="gasChanged()" required [range]="[21, 100]" [min]="21" [max]="100" step="1"
                                [class.is-invalid]="gasO2.invalid && (gasO2.dirty || gasO2.touched)" />
                            <div ngbDropdown class="input-group-append d-inline-block" placement="bottom-right">
                                <button class="btn btn-default border" id="o2Menu" type="button" ngbDropdownToggle></button>
                                <div ngbDropdownMenu aria-labelledby="o2Menu" aria-expanded="false">
                                    <button *ngFor="let stgas of this.gasNames" type="button" class="dropdown-item"
                                        (click)="assignStandardGas(tank, stgas)">{{stgas}}</button>
                                </div>
                            </div>
                        </div>

                        <div class="text-danger" *ngIf="gasO2.invalid && (gasO2.dirty || gasO2.touched)">Needs to be number
                            21-100%</div>
                    </div>
                </div>
                <div class="pt-0">
                    <small class="form-text text-muted">SAC: {{gasSac(tank) | number:'1.0-2'}} bar/min.</small>
                    <app-gaslabel [gas]="tank" class="text-nowrap float-end"></app-gaslabel>
                </div>
            </td>
            <td class="align-top">
                <button *ngIf="planner.firstTank !== tank" type="button" class="btn btn-sm m-0 p-0 align-top"
                    (click)="removeTank(tank)">
                    <fa-icon [icon]="trashIcon"></fa-icon>
                </button>
            </td>
        </tr>
    </table>
  </div>
  <div class="card-body" *ngIf="!isComplex">
      <div class="mb-3">
        <label for="size" class="form-label">Size [L]:</label>
        <input #size="ngModel" name="size" [(ngModel)]="firstTank.size" class="form-control col-auto" type="number" (change)="gasChanged()"
        required [range]="[1, 50]" [min]="1" [max]="50" step="1"
        [class.is-invalid]="size.invalid && (size.dirty || size.touched)"/>
        <small class="form-text text-muted">SAC: {{gasSac(firstTank) | number:'1.0-2'}} bar/min.</small>
        <div class="text-danger form-text" *ngIf="size.invalid && (size.dirty || size.touched)">Needs to be number 1-50 L</div>

      </div>
      <div class="mb-3">
        <label for="startPressure" class="form-label">Start pressure [bar]:</label>
        <input #startPressure="ngModel" name="startPressure" [(ngModel)]="firstTank.startPressure" class="form-control col-auto" type="number" (change)="gasChanged()"
        required [range]="[30, 350]" [min]="30" [max]="350" step="1"
        [class.is-invalid]="startPressure.invalid && (startPressure.dirty || startPressure.touched)"/>
        <div class="text-danger form-text" *ngIf="startPressure.invalid && (startPressure.dirty || startPressure.touched)">Needs to be number 30-350 bar</div>
      </div>
      <div class="mb-3 col-auto">
        <label for="gasO2" class="form-label">Percent O2:</label>
        <div class="input-group col-auto o2-max-width">
            <input #gasO2="ngModel" name="gasO2" [(ngModel)]="o2" class="form-control" type="number" (change)="gasChanged()"
                required [range]="[21, 100]" [min]="21" [max]="100" step="1"
                [class.is-invalid]="gasO2.invalid && (gasO2.dirty || gasO2.touched)" />
            <div ngbDropdown class="input-group-append d-inline-block" placement="bottom-right">
                <button class="btn btn-default border" id="o2Menu" type="button" ngbDropdownToggle></button>
                <div ngbDropdownMenu aria-labelledby="o2Menu" aria-expanded="false">
                    <button type="button" class="dropdown-item" (click)="assignBestMix()">Best mix</button>
                    <button *ngFor="let stgas of this.gasNames" type="button" class="dropdown-item"
                        (click)="assignStandardGas(firstTank, stgas)">{{stgas}}</button>
                </div>
            </div>
        </div>
        <app-gaslabel [gas]="firstTank"></app-gaslabel>
        <div class="text-danger" *ngIf="gasO2.invalid && (gasO2.dirty || gasO2.touched)">Needs to be number 21-100%</div>
      </div>
  </div>
</div>
