<div class="card">
    <form [formGroup]="tanksForm">
        <div class="card-header ">
            <fa-icon [icon]="icon" class="me-3"></fa-icon>
            <span *ngIf="!isComplex">Bottom gas tank</span>
            <span *ngIf="isComplex">Tanks</span>
        </div>
        <div class="card-body" *ngIf="isComplex">
            <table class="table table-borderless">
                <tr>
                    <th></th>
                    <th>
                        <div class="">Size [{{units.volume}}]</div>
                    </th>
                    <th>
                        <div class="">Pressure [{{units.pressure}}]</div>
                    </th>
                    <th>
                        <div class="">O2 [%]</div>
                    </th>
                    <th>
                        <div class="">He [%]</div>
                    </th>
                    <th>
                        <div class="m-0 p-0">
                            <button class="btn btn-default btn-lg m-0 p-0 text-primary" type="button"
                                (click)="addTank()">
                                <fa-icon [icon]="plusIcon" class="px-0 mx-0"></fa-icon>
                            </button>
                        </div>
                    </th>
                </tr>
                <ng-container formArrayName="boundTanks">
                    <ng-container *ngFor="let bound of tanksGroup.controls; let i = index" [formGroupName]="i">
                        <tr class="p-0">
                            <td class="align-center">
                                <div class="mb-0 pb-0 px-1">{{ tanks[i].id }}.</div>
                            </td>
                            <td>
                                <div class="mb-0 pb-0 px-0">
                                    <input formControlName="tankSize" class="form-control" type="number"
                                        (input)="tankChanged(i)" required [min]="ranges.tankSize[0]"
                                        [max]="ranges.tankSize[1]" step="1" [class.is-invalid]="tankSizeInvalid(i)"
                                        id="sizeItem" />
                                    <div class="text-danger" *ngIf="tankSizeInvalid(i)">Needs to be number
                                        {{ranges.tankSizeLabel}}
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="mb-0 pb-0 px-1">
                                    <input formControlName="tankStartPressure" class="form-control" type="number"
                                        (input)="tankChanged(i)" required [min]="ranges.tankPressure[0]"
                                        [max]="ranges.tankPressure[1]" step="1" id="pressureItem"
                                        [class.is-invalid]="startPressureInvalid(i)" />
                                    <div class="text-danger" *ngIf="startPressureInvalid(i)">
                                        Needs to be number {{ranges.tankPressureLabel}}</div>
                                </div>
                            </td>
                            <td>
                                <div class="input-group mb-0 pb-0 px-1">
                                    <div class="input-group dropdown" mdbDropdown>
                                        <input formControlName="tankO2" class="form-control" type="number"
                                            (input)="tankChanged(i)" required [min]="ranges.trimixOxygen[0]"
                                            [max]="ranges.trimixOxygen[1]" step="1" [class.is-invalid]="gasO2Invalid(i)"
                                            id="o2Item" />
                                        <button class="btn btn-default dropdown-toggle dropdown-toggle-split"
                                            id="o2Menu" type="button" aria-expanded="false" data-mdb-toggle="dropdown"
                                            mdbDropdownToggle></button>
                                        <ul class="dropdown-menu dropdown-menu-end" mdbDropdownMenu>
                                            <li *ngFor="let stgas of this.allNames"
                                                (click)="assignStandardGas(i, stgas)">
                                                <a class="dropdown-item">{{stgas}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="text-danger" *ngIf="gasO2Invalid(i)">Needs to be number
                                        {{ranges.trimixOxygenLabel}}</div>
                                </div>
                            </td>
                            <td>
                                <div class="mb-0 pb-0 px-1">
                                    <input formControlName="tankHe" class="form-control" type="number"
                                        (input)="tankChanged(i)" [min]="ranges.tankHe[0]" [max]="ranges.tankHe[1]"
                                        step="1" required [class.is-invalid]="gasHeInvalid(i)" id="heItem" />
                                    <div class="text-danger" *ngIf="gasHeInvalid(i)">Needs to be number
                                        {{ranges.tankHeLabel}}</div>
                                </div>
                            </td>
                            <td>
                                <button *ngIf="i !== 0" type="button"
                                    class="btn text-secondary btn-lg m-0 p-0" (click)="removeTank(i)">
                                    <fa-icon [icon]="trashIcon"></fa-icon>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="4">
                                <div class="mt-0 pt-0">
                                    <small class="form-text text-muted">SAC: {{gasSac(i) | number:'1.0-2'}}
                                        {{units.sac}}</small>
                                    <app-gaslabel [tank]="tanks[i].tank" [toxicity]="toxicity" class="float-end">
                                    </app-gaslabel>
                                </div>
                            </td>
                            <td></td>
                        </tr>
                    </ng-container>
                </ng-container>
            </table>
        </div>
        <div class="card-body row" *ngIf="!isComplex">
            <div class="mb-2 col-auto">
                <label for="size" class="form-label">Size [{{units.volume}}]:
                    <input formControlName="firstTankSize" class="form-control col-auto" type="number"
                        (input)="applySimple()" required [min]="ranges.tankSize[0]" [max]="ranges.tankSize[1]" step="1"
                        [class.is-invalid]="firstTankSizeInvalid" id="sizeFirstTank" />
                    <small class="form-text text-muted">SAC: {{gasSac(0) | number:'1.0-2'}}
                        {{units.sac}}</small>
                    <div class="text-danger form-text" *ngIf="firstTankSizeInvalid">Needs to be
                        number {{ranges.tankSizeLabel}}</div>
                </label>
            </div>
            <div class="mb-2 col-auto">
                <label for="startPressure" class="form-label">Start pressure [{{units.pressure}}]:
                    <input class="form-control col-auto" type="number" (input)="applySimple()"
                        id="startPressureFirstTank" formControlName="firstTankStartPressure" required
                        [min]="ranges.tankPressure[0]" [max]="ranges.tankPressure[1]" step="1"
                        [class.is-invalid]="firstTankStartPressureInvalid" />
                    <div class="text-danger form-text" *ngIf="firstTankStartPressureInvalid">Needs to be
                        number
                        {{ranges.tankPressureLabel}}</div>
                </label>
            </div>
            <div class="mb-2 col-auto">
                <app-nitrox-o2 [tank]="firstTank.tank" [toxicity]="toxicity" (gasChange)="applySimple()"
                    (assignBestMix)="assignBestMix()"></app-nitrox-o2>
            </div>
        </div>
    </form>
</div>
